footer {
  background: rgba(9,6,66,1);
  // background: linear-gradient(180deg, rgba(15, 5, 56, 1) 0%, rgba(23, 12, 68, 1) 100%);

  .container {
    border-top: 1px solid #4446b6;

    a {
      color: white;
      margin-left: 16px;
    }

    .by-grakn:hover {
      text-decoration: none;
    }
  }
}
