.big-footer,
.small-footer {
  background: rgba(9, 6, 66, 1);

  .container {
    border-top: 1px solid #4446b6;

    a {
      color: white;
      margin-left: 16px;
    }

    .by-grakn {
      margin: 0;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
