.site-header {
  height: 90px;
  @include transition(background, 0.26s, ease-in-out);

  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  &.is-scrolling {
    background: #190d47;
  }

  &-logo {
    a {
      margin-top: 10px;
      text-decoration: none;
    }
    img {
      margin-top: -10px;
    }
    span {
      line-height: 68px;
    }
  }

  &-nav {
    ul {
      width: 94%;
      max-width: 620px;

      li {
        font-size: 18px;
        flex-grow: 1;

        a {
          color: white;
          line-height: 1;

          // padding: 8px;
          position: relative;
          white-space: nowrap;
        }
      }
    }
  }

  &-action {
    font-size: 18px;
    min-width: 150px;
  }

  &.mobile {
    @media (max-width: 576px) {
      height: 70px;

      .site-header-logo a {
        margin-top: 1px;
        margin-left: -9px;
      }

      .hamburger {
        padding-top: 12px;

        &-box {
          width: 30px;
          height: 16px;
        }
        &-inner {
          width: 35px;

          &:before, &:after {
            width: 35px;
          }
        }
      }
    }

    .site-header-nav {
      display: none !important;
    }

    &.expanded {
      height: auto;
      background: #190d47;
      display: block;

      .site-header-nav,
      ul {
        display: block !important;
      }
    }

    .site-header-logo p,
    .site-header-action {
      display: none !important;
    }

    .hamburger {
      display: block !important;
      padding-right: 0;
    }

    .site-header-logo img {
      margin-top: -7px;
    }

    .site-header-inner {
      display: block !important;
      margin: 0 block;
      padding: 20px 25px 20px 25px;
    }

    .site-header-nav {
      width: 100% !important;

      ul {
        width: 100%;
        max-width: 100%;

        text-align: left !important;

        margin: 0;
        padding-top: 40px;

        li {
          border-top: 1px solid #281572;
          padding: 15px 0;

          &:last-child {
            border-bottom: 1px solid #281572;
          }
        }
      }

      .button {
        display: block !important;

        margin: 40px 0 20px 0;

        font-size: 1.2em;
      }
    }
  }
}
