.site-header {
  height: 90px;

  @include transition(background, 0.26s, ease-in-out);

  box-sizing: border-box;

  &.is-scrolling {
    background: $color-bg-brand-dark;
  }

  &-logo {
    a {
      margin-top: 10px;
      text-decoration: none;
    }
    img {
      margin-top: -10px;
    }
    span {
      line-height: 68px;
    }
  }

  &-nav {
    ul {
      width: 94%;
      max-width: 620px;

      a {
        color: white;
        line-height: 1;

        position: relative;
        white-space: nowrap;

        li {
          padding: 8px;
        }
      }
    }
  }

  &-action {
    font-size: 18px;
    min-width: 150px;

    .button {
      height: 40px;
      line-height: 42px;
    }
  }

  &.mobile {
    @include phone-up-to {
      height: 70px;

      .site-header-logo a {
        margin-top: 1px;
        margin-left: -9px;
      }

      .hamburger {
        padding-top: 12px;

        &-box {
          width: 30px;
          height: 16px;
        }

        &-inner {
          width: 35px;

          &:before,
          &:after {
            width: 35px;
          }
        }
      }
    }

    .site-header-nav,
    .site-header-logo p,
    .site-header-action {
      display: none !important;
    }

    &.expanded,
    .site-header-inner,
    .hamburger,
    .site-header-nav .button {
      display: block !important;
    }

    &.expanded {
      height: auto;
      background: #190d47;

      .site-header-nav,
      ul {
        display: block !important;
      }
    }

    .hamburger {
      padding-right: 0;
    }

    .site-header-logo img {
      margin-top: -7px;
    }

    .site-header-inner {
      margin: 0 auto;
      padding: 20px 25px 20px 25px;
    }

    .site-header-nav {
      width: 100% !important;

      ul {
        width: 100%;
        max-width: 100%;

        text-align: left !important;

        margin: 0;
        padding-top: 40px;

        li {
          border-top: 1px solid lighten($color-bg-brand-dark, 5%);
          padding: 15px 0;

          &:last-child {
            border-bottom: 1px solid lighten($color-bg-brand-dark, 5%);
          }
        }
      }

      .button {
        margin: 40px 0 20px 0;

        font-size: 1.2em;
      }
    }
  }
}
