.section-intro {
  position: relative;

  .bg {
    background: rgb(10, 9, 38);
    background: linear-gradient(180deg, rgba(10, 9, 38, 1) 0%, rgba(40, 17, 107, 1) 35%, rgba(0, 200, 216, 1) 100%);
  }

  .stars {
    height: calc(773px - 50px);
    background-image: url(../img/intro-stars.svg);
  }

  .futuristic-city {
    @include absolute-background(100%, 800px, 0, cover, no-repeat);

    background-image: url(../img/intro-futuristic-city-lg.svg);

    background-position: center bottom;
    bottom: 0;
    z-index: -1;

    @media (max-width: 1480px) {
      background-image: url(../img/intro-futuristic-city-md.svg);
      background-size: contain;
    }

    @include md-up-to {
      height: 470px;
      background-image: url(../img/intro-futuristic-city-sm.svg);
      // background-size: 100% 470px;
    }
  }

  .m-planet-blue,
  .m-planet-purple,
  .m-planet-pink,
  .m-spaceship {
    background-position: center center;
  }

  .m-planet-purple {
    @include absolute-background(205px, 205px, 0, auto, no-repeat);

    background-image: url(../img/planet-purple.svg);

    top: 160px;
    left: 60px;
    z-index: -9;

    @include lg-up-to {
      background-size: 120px 120px;
    }

    @include md-up-to {
      width: 60px;

      background-position: right;
      top: 125px;
      left: 0;
    }
  }

  .m-planet-blue {
    @include absolute-background(205px, 205px, 0, auto, no-repeat);

    background-image: url(../img/planet-blue.svg);

    top: 160px;
    right: 70px;
    z-index: -8;

    @include lg-up-to {
      background-size: 120px 120px;
    }

    @include md-up-to {
      width: 70px;

      background-position: left;
      top: 115px;
      right: 0;
    }
  }

  .m-planet-pink {
    @include absolute-background(138px, 138px, 0, auto, no-repeat);

    background-image: url(../img/planet-pink.svg);
    top: 720px;
    left: 100px;
    z-index: -7;

    @include lg-up-to {
      background-size: 100px 100px;
    }

    @include md-up-to {
      width: 43px;

      background-position: right;
      top: 740px;
      left: 0;
    }
  }

  .m-spaceship {
    @include absolute-background(129px, 190px, 0px, auto, no-repeat);

    background-image: url(../img/spaceship.svg);
    top: 730px;
    right: 100px;
    z-index: -6;
    @include transform(scaleX(-1));
    filter: FlipH;
    -ms-filter: "FlipH";

    @include lg-up-to {
      background-size: 128px 170px;
    }

    @include md-up-to {
      width: 80px;

      background-position: right;
      top: 730px;
      right: 0;
    }
  }

  .sub-section-summary {
    padding-top: 216px;

    .h1 {
      @include sm-up-to {
        font-size: 1.75rem;
        line-height: 1.5;
      }
    }

    .grakn-logo-inline {
      background-color: lighten($color-bg-brand-light, 5%);
      @include border-radius(3px);

      padding: 5px;

      // @include sm-up-to {
      //   width: 80px;
      // }
    }

    .container {
      position: relative;
    }

    .planet-blue,
    .planet-purple,
    .planet-pink,
    .spaceship {
      background-position: center center;
    }

    .planet-blue {
      @include absolute-background(205px, 205px, 0, auto, no-repeat);

      background-image: url(../img/planet-blue.svg);

      right: 0;
      top: -90px;
      z-index: -8;
    }

    .planet-purple {
      @include absolute-background(238px, 172px, 0, auto, no-repeat);

      background-image: url(../img/planet-purple.svg);

      top: -60px;
      z-index: -9;
    }

    .planet-pink {
      @include absolute-background(138px, 138px, 0, auto, no-repeat);

      background-image: url(../img/planet-pink.svg);

      top: 330px;
      left: 100px;
      z-index: -7;

      @media (max-width: 1330px) {
        display: none;
      }
    }

    .spaceship {
      @include absolute-background(160px, 190px, 0px, auto, no-repeat);

      background-image: url(../img/spaceship.svg);

      top: 300px;
      right: 60px;
      z-index: -6;

      @media (max-width: 1330px) {
        display: none;
      }
    }
  }

  .sub-section-description {
    height: 750px;
    max-width: 1050px;

    
    @include sm-up-to {
      height: 650px;
    }

    @media (max-width: 335px) {
      height: 680px;
    }

    @media (max-width: 300px) {
      height: 700px;
    }
    
    .h5 {
      letter-spacing: 0.69px;
    }
  }
}
