.section-intro {
  position: relative;

  .bg {
    background: rgb(10,9,38);
    background: linear-gradient(180deg, rgba(10,9,38,1) 0%, rgba(40,17,107,1) 35%, rgba(0,200,216,1) 100%);
  }

  .stars {
    height: calc(773px - 50px);
    background-image: url(../img/stars-intro.svg);
  }

  .futuristic-city {
    @include absolute-background(100%, 800px, 0, cover, no-repeat);

    background-image: url(../img/futuristic-city.svg);
    background-position: center bottom;
    bottom: 0;
  }

  .sub-section-summary {
    padding-top: 216px;

    .grakn-logo-inline {
      background-color: lighten($color-bg-brand, 5%);
      @include border-radius(3px);

      padding: 5px;
    }

    .container {
      position: relative;
    }

    .planet-blue,
    .planet-purple,
    .planet-pink,
    .spaceship {
      background-position: center center;
    }

    .planet-blue {
      @include absolute-background(205px, 205px, 0, auto, no-repeat);

      background-image: url(../img/planet-blue.svg);
      right: 0;
      top: -90px;
      z-index: -8;
    }

    .planet-purple {
      @include absolute-background(238px, 172px, 0, auto, no-repeat);

      background-image: url(../img/planet-purple.svg);
      top: -60px;
      z-index: -9;
    }

    .planet-pink {
      @include absolute-background(138px, 138px, 0, auto, no-repeat);

      background-image: url(../img/planet-pink.svg);
      bottom: 0;
      left: 100px;
      z-index: -7;
    }

    .spaceship {
      @include absolute-background(129px, 190px, 0px, auto, no-repeat);

      background-image: url(../img/spaceship.svg);
      bottom: 0;
      right: 60px;
      z-index: -6;
    }
  }

  .sub-section-description {
    height: 750px;

    .h5 {
      line-height: 28px;
      letter-spacing: 1px;
    }
  }
}
