.section-motives {
  width: 100%;

  position: relative;
  z-index: 0;

  .stars {
    @include absolute-background(100%, 100%, 50px, contain, no-repeat);

    background-image: url(../img/stars-b.svg);
    z-index: -1;
  }

  .space {
    @include absolute-background(100%, 100%, 0, cover, no-repeat);

    background-image: url(../img/space-b.svg);
    z-index: -2;
  }

  p {
    line-height: 28px;
  }

  .h2 {
    line-height: 50px;
  }
}
