.section-motives {
    width: 100%;

    position: relative;
    z-index: 0;

    .container {
      max-width: 1080px;
    }

    .bg {
      background: rgb(10, 9, 38);
      background: linear-gradient(180deg, rgba(10, 9, 38, 1) 0%, rgba(11, 7, 67, 1) 100%);
    }

    .stars {
      height: calc(100% - 50px);
      background-image: url(../img/stars-motives.svg);
    }

    .motive-text-block {
      padding-left: 80px;

      @include md-up-to {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
