@import "./vendor/functions";
@import "./vendor/variables";

.section-newsletter {
  position: relative;

  .bg {
    background: rgb(16,6,56);
    background: linear-gradient(180deg, rgba(16,6,56,1) 0%, rgba(9,6,66,1) 100%);
  }

  .wave {
    @include absolute-background(100%, 100%, 0, cover, no-repeat);
    background-image: url(../img/wave-newsletter.svg);

    background-position: top;
  }

  &-logo {
    width: 115px;
    height: 104px;
  }

  form {
    width: 550px;
    max-width: 100%;
    height: 50px;

    padding: 0;
    position: relative;

    input {
      width: calc(100% - 120px);
      height: 50px;

      background-color: $color-bg-brand-dark;
      border: 1px solid $color-brand-secondary;
      border-right: none;
      @include border-radius(5px 0 0 5px);
      @include box-shadow(none);
      outline: none;
      letter-spacing: 1px;

      padding: 5px 20px;
      position: absolute;
      left: 0;

      @include sm-up-to {
        padding: 3px 10px;
        letter-spacing: 0;
      }

      @include placeholder {
        color: $color-brand-secondary;
        font-size: $font-size-base * 1;
      }
    }

    button {
      width: 140px;
      height: 50px;

      @include border-radius(0 5px 5px 0);

      position: absolute;
      top: 0;
      right: 0;

      .spinner-border {
        color: $color-text-on-brand;
        margin-top: 9px;
      }
    }

    .form-messages {
      width: 100%;
      height: fit-content;

      padding: 10px 5px;
      position: absolute;
      top: 50px;

      .response {
        font-size: 14px;
        text-align: left;

        &.error {
          color: $color-text-error;
        }
      }
    }
  }

  .container {
    position: relative;
  }

  .m-planet-pink {
    @include absolute-background(70px, 110px, 0, 100px 100px, no-repeat);

    background-image: url(../img/planet-pink-medium.svg);
    background-position: left;

    top: 20px;
    right: 0;
    z-index: -1;
  }

  .m-spaceship {
    @include absolute-background(90px, 190px, 0, 129px 190px, no-repeat);

    background-image: url(../img/spaceship.svg);
    background-position: right;

    top: 20px;
    left: 0;
    z-index: -1;
  }

  .planet-pink {
    @include absolute-background(138px, 138px, 0, auto, no-repeat);

    background-image: url(../img/planet-pink-medium.svg);
    background-position: center center;

    bottom: 100px;
    right: 40px;
    z-index: -1;
  }

  .spaceship {
    @include absolute-background(160px, 190px, 0px, auto, no-repeat);

    background-image: url(../img/spaceship.svg);
    background-position: center center;

    top: 20px;
    left: 60px;
    z-index: -1;
  }
}
