@import "./vendor/functions";
@import "./vendor/variables";

.section-newsletter {
  position: relative;

  .bg {
    background: rgb(16,6,56);
    background: linear-gradient(180deg, rgba(16,6,56,1) 0%, rgba(9,6,66,1) 100%);
  }

  .wave {
    @include absolute-background(100%, 100%, 0, cover, no-repeat);
    background-image: url(../img/wave-newsletter.svg);
    background-position: top;
  }

  &-logo {
    width: 115px;
    height: 104px;
  }

  form {
    max-width: 100%;
    width: 530px;
    height: 50px;

    padding: 0;
    position: relative;

    input {
      height: 50px;
      width: calc(100% - 90px);

      background-color: #120a39;
      border: 1px solid #bdb5ff;
      border-right: none;
      @include border-radius(5px 0 0 5px);
      @include box-shadow(none);
      outline: none;
      letter-spacing: 3px;

      padding: 5px 20px;
      position: absolute;
      left: 0;

      @media (max-width: 576px) {
        padding: 3px 10px;
        letter-spacing: 0;
      }

      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #bdb5ff;
        @include opacity(1);
        font-size: $font-size-base * 1.25;
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #bdb5ff;
        font-size: $font-size-base * 1.25;
      }

      &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #bdb5ff;
        font-size: $font-size-base * 1.25;
      }
    }

    button {
      width: 100px;
      height: 50px;

      @include border-radius(0 5px 5px 0);

      position: absolute;
      top: 0;
      right: 0;

      .spinner-border {
        color: #240f61;
        margin-top: 9px;
      }
    }

    .form-messages {
      width: 100%;
      height: fit-content;

      padding: 10px 5px;
      position: absolute;
      top: 50px;

      .response {
        font-size: 14px;
        text-align: left;

        &.error {
          color: #e74c3c;
        }
      }
    }
  }

  .container {
    position: relative;
  }

  .planet-pink {
    @include absolute-background(138px, 138px, 0, auto, no-repeat);

    background-image: url(../img/planet-pink-medium.svg);
    background-position: center center;

    bottom: 100px;
    right: 40px;
    z-index: -1;
  }

  .spaceship {
    @include absolute-background(129px, 190px, 0px, auto, no-repeat);

    background-image: url(../img/spaceship.svg);
    background-position: center center;

    top: 20px;
    left: 60px;
    z-index: -1;
  }
}
