.section-speakers {
  position: relative;

  .bg {
    background: rgb(11,7,67);
    background: linear-gradient(180deg, rgba(11,7,67,1) 0%, rgba(10,9,38,1) 100%);
  }

  .container {
    position: relative;
  }

  .space {
    @include absolute-background(100%, 1964px, 0px, cover, repeat);

    background-image: url(../img/space-c.svg);

    bottom: 0;
    z-index: -2;
  }

  .stars {
    @include absolute-background(100%, 760px, 50px, auto, repeat);

    background-image: url(../img/stars-speakers.svg);
    z-index: -1;
  }

  .planet-purple-dark,
  .planet-pink-dark {
    @include absolute-background(160px, 160px, 0px, contain, no-repeat);

    background-position: center center;
    z-index: 0;
  }

  .planet-purple-dark {
    background-image: url(../img/planet-purple-dark.svg);
    left: 0px;
    top: -40px;
  }

  .planet-pink-dark {
    background-image: url(../img/planet-pink-dark.svg);
    bottom: -20px;
    right: 0px;
  }

  ul {
    li {
      width: 160px;

      margin-right: 60px;

      .speaker-frame {
        background-image: url(../img/speaker-frame.svg);
        background-position: top center;
        background-repeat: no-repeat;
        transition: all 0.2s ease-in-out;

        padding: 10px;
        margin-bottom: 30px;

        &:hover {
          transform: scale(1.2);
        }

        img {
          width: 140px;
          height: 140px;

          @include border-radius(50%);

          display: block;
        }
      }

      &:last-child {
        margin: 0;
      }

      a:hover {
        text-decoration: none;
      }
    }
  }
}
