.section-speakers {
  position: relative;

  #speakers-list {
    li:first-child { margin-left: 0; }
    li:last-child { margin-right: 0; }
  }

  .bg {
    background: rgb(11, 7, 67);
    background: linear-gradient(180deg, rgba(11, 7, 67, 1) 0%, rgba(10, 9, 38, 1) 100%);
  }

  .stars {
    @include absolute-background(100%, 760px, 50px, auto, repeat);

    background-image: url(../img/speakers-stars.svg);
    z-index: -1;
  }

  .container {
    position: relative;
  }

  ul {
    li {
      width: 190px;
      height: 350px;

      cursor: pointer;

      @include sm-up-to {
        width: 180px;
      }

      display: list-item;
      margin-right: 22px;
      margin-left: 22px;

      .fullname {
        font-size: 1.25rem;
      }

      .company-logo {
        margin-top: 20px;
        display: inline-block;
        img {
          margin: 0 auto;
        }
      }

      &:hover {
        .speaker-frame {
          transform: scale(1.2);
        }
      }
      

      .speaker-frame {
        background: url(../img/speaker-frame.svg) no-repeat;
        background-size: 190px 190px;
        transition: all 0.2s ease-in-out;

        background-position: top center;
        padding: 10px;
        margin-bottom: 30px;

        img.profile-picture {
          width: 170px;
          height: 170px;

          @include border-radius(50%);

          display: block;
        }

        @include sm-up-to {
          background-size: 180px 180px;
          
          img.profile-picture {
            width: 160px;
            height: 160px;
          }
        }
      }

      a:hover {
        text-decoration: none;
      }
    }
  }
}

.speaker-modal {
  width: 100%;
  height: 100%;

  background: rgb(10, 9, 38);
  background: linear-gradient(180deg, rgba(10, 9, 38, 1) 0%, rgba(16, 6, 56, 1) 100%);

  display: none;
  position: fixed;
  z-index: 1031;

  &.is-open {
    display: block;
  }

  * {
    box-sizing: content-box;
  }

  .stars {
    height: calc(100% - (100px)) !important;
    background-image: url(../img/speakers-stars.svg);
    background-repeat: repeat;
    background-size: contain;
  }

  .planet-purple {
    @include absolute-background(205px, 205px, 0, auto, no-repeat);

    background-image: url(../img/planet-purple-dark.svg);
    background-position: center center;

    right: 130px;
    top: 90px;
    z-index: -8;

    @include lg-up-to {
      top: 530px;
      right: 30px;
    }

    @include sm-up-to {
      width: 120px;
      background-size: 120px 120px;
      top: 350px;
    }
  }

  &-close {
    width: 40px;
    height: 40px;

    background-color: #0b0928;
    @include border-radius(50%);
    border: 1px solid rgba(26, 236, 167, 0.8);
    pointer-events: initial;
    @include transition(border, 0.3s, ease-in-out);

    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1031;

    &:hover {
      cursor: pointer;
      opacity: 1;
      border: 1px solid rgba(26, 236, 167, 1);
      &:before,
      &:after {
        background: rgba(26, 236, 167, 1);
      }
    }

    &:before,
    &:after {
      width: 20px;
      height: 1px;

      background: rgba(26, 236, 167, 0.8);
      content: "";
      @include transition(background, 0.2s, ease-in-out);

      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
    }

    &:before {
      transform: translate3d(-50%, -50%, 0) rotate(45deg);
    }

    &:after {
      transform: translate3d(-50%, -50%, 0) rotate(-45deg);
    }
  }

  &-content {
    max-width: 1400px;
    height: 100%;

    margin: 0 auto;
    position: relative;

    overflow-y: scroll;

    .description, .bio {
      white-space: pre-line;
    }

    .cospeaker-note {
      font-size: 1rem;
    }

    .planet-purple-dark {
      @include absolute-background(160px, 160px, 0px, contain, no-repeat);
      background-image: url(../img/planet-purple-dark.svg);
      background-position: center center;

      left: 0px;
      top: -40px;

      z-index: 0;

      @include lg-up-to {
        top: -100px;
        right: 0;
        left: auto;
      }

      @include md-up-to {
        width: 83px;

        background-position: right;
        background-size: 130px 130px;
        left: 0;
      }
    }

    .m-planet-purple-dark {
      @include absolute-background(63px, 120px, 0px, 130px 130px, no-repeat);

      background-image: url(../img/planet-purple-dark.svg);

      background-position: right;
      left: 0;
      top: -70px;
    }
  }

  &-sidebar {
    position: relative;

    width: calc(50% - 200px);
    min-width: 200px;

    float: left;
    padding: 100px;

    .planet-blue {
      @include absolute-background(205px, 205px, 0, auto, no-repeat);

      background-image: url(../img/planet-blue-dark.svg);
      background-position: center center;

      left: 10px;
      bottom: -25%;
      z-index: -8;
    }

    figure {
      width: 100%;

      padding-bottom: 100%;
      position: relative;

      .frame-img {
        width: 100%;
        height: 100%;
        max-width: 450px;
        max-height: 450px;

        @include border-radius(50%);

        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
      }

      .speaker-profile-picture {
        width: 90%;
        height: 90%;

        max-width: 400px;
        max-height: 400px;

        @include border-radius(50%);

        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        position: absolute;
      }
    }

    @include lg-up-to {
      width: calc(100% - 160px);
      padding: 80px;
      float: none;

      figure {
        height: 345px;
        padding-bottom: 0 !important;
      }

      .frame-img {
        width: 345px !important;
        height: 345px !important;
      }

      .speaker-profile-picture {
        width: 300px !important;
        height: 300px !important;
        margin-top: 25px !important;
      }
    }

    @include sm-up-to {
      width: calc(100% - 80px);
      padding: 60px 40px 30px 40px;

      figure {
        height: 245px;
        padding-bottom: 0 !important;
      }

      .frame-img {
        width: 225px !important;
        height: 225px !important;
      }

      .speaker-profile-picture {
        width: 200px !important;
        height: 200px !important;
        margin-top: 12px !important;
      }
    }
  }

  &-body {
    width: calc(50% - 100px);
    max-height: calc(100% - 240px);

    float: right;
    padding: 120px 100px 120px 0;
    // overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */

    &::-webkit-scrollbar { /* WebKit */
      width: 0;
      height: 0;
    }

    .company,
    .session-title {
      color: $color-brand-secondary;
    }

    .social-links {
      a {
        color: white;

        .logo-wrapper {
          width: 30px;

          img { height: 16px; }
        }

        span {
          line-height: 28px;
        }
      }
    }

    @include lg-up-to {
      width: 86%;
      max-height: calc(100%);
      padding: 0;
      float: none;
      margin: 0 auto;
    }

    @include sm-up-to {
      max-height: calc(100% + 300px);
    }
  }

  .sessionsWrapper {
    margin-bottom: 60px;
  }
}
