.section-speakers {
  position: relative;

  .bg {
    background: rgb(11,7,67);
    background: linear-gradient(180deg, rgba(11,7,67,1) 0%, rgba(10,9,38,1) 100%);
  }

  .stars {
    @include absolute-background(100%, 760px, 50px, auto, repeat);

    background-image: url(../img/stars-speakers.svg);
    z-index: -1;
  }

  .container {
    position: relative;
  }


  .planet-purple-dark,
  .planet-pink-dark {
    @include absolute-background(160px, 160px, 0px, contain, no-repeat);

    background-position: center center;
    z-index: 0;
  }

  .planet-purple-dark {
    background-image: url(../img/planet-purple-dark.svg);

    left: 0px;
    top: -40px;

    @include lg-up-to {
      top: -100px;
      right: 0;
      left: auto;
    }

    @include md-up-to {
      width: 83px;

      background-position: right;
      background-size: 130px 130px;
      left: 0;
    }
  }

  .planet-pink-dark {
    background-image: url(../img/planet-pink-dark.svg);
    bottom: -20px;
    right: 0px;
  }

  .m-planet-purple-dark {
    @include absolute-background(63px, 120px, 0px, 130px 130px, no-repeat);

    background-image: url(../img/planet-purple-dark.svg);

    background-position: right;
    left: 0;
    top: -70px;
  }

  ul {
    li {
      width: 160px;

      @include sm-up-to {
        width: 180px;
      }

      display: list-item;
      margin-right: 60px;

      .company {
        color: $color-brand-secondary;
      }

      .speaker-frame {
        background: url(../img/speaker-frame.svg) no-repeat;
        transition: all 0.2s ease-in-out;

        background-position: top center;
        padding: 10px;
        margin-bottom: 30px;

        &:hover {
          transform: scale(1.2);
        }

        img {
          width: 140px;
          height: 140px;

          @include sm-up-to {
            width: 160px;
            height: 160px;
          }

          @include border-radius(50%);

          display: block;
        }
      }

      &:last-child {
        margin: 0;
      }

      a:hover {
        text-decoration: none;
      }
    }
  }
}
