.section-sponsors-newsletter {
  position: relative;

  .bg {
    background: rgb(23,12,68);
    background: linear-gradient(180deg, rgba(23,12,68,1) 0%, rgba(15,5,56,1) 100%);
  }
}

.section-sponsors {
  position: relative;

  ul {
    li {
      width: 160px;
      margin-right: 60px;
      padding-top: 32px;

      &:last-child {
        margin: 0;
      }
    }
  }
}


.section-newsletter {
  &-logo {
    width: 115px;
    height: 104px;
  }

  form {
    max-width: 100%;
    width: 530px;
    height: 50px;

    padding: 0;
    position: relative;

    input {
      height: 50px;
      width: 431px;

      background-color: #120a39;
      border: 1px solid #bdb5ff;
      border-right: none;
      @include border-radius(5px 0 0 5px);
      @include box-shadow(none);
      font-size: 16px;
      outline: none;
      letter-spacing: 3px;

      padding: 5px 20px;
      position: absolute;
      left: 0;

      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #bdb5ff;
        @include opacity(1);
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #bdb5ff;
      }

      &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #bdb5ff;
      }
    }

    button {
      height: 50px;

      @include border-radius(0 5px 5px 0);

      position: absolute;
      top: 0;
      right: 0;
    }

    .form-messages {
      width: 530px;
      height: fit-content;

      padding: 10px 5px;
      position: absolute;
      top: 50px;

      .response {
        font-size: 14px;
        text-align: left;

        &.error { color: #e74c3c; }
      }
    }
  }

  .container {
    position: relative;
  }

  .planet-pink {
    @include absolute-background(138px, 138px, 0, auto, no-repeat);

    background-image: url(../img/planet-pink-medium.svg);
    background-position: center center;

    bottom: 100px;
    right: 40px;
    z-index: -1;
  }

  .spaceship {
    @include absolute-background(129px, 190px, 0px, auto, no-repeat);

    background-image: url(../img/spaceship.svg);
    background-position: center center;

    top: 20px;
    left: 60px;
    z-index: -1;
  }
}