.section-sponsors {
    position: relative;

    .bg {
      background: rgb(23,12,68);
      background: linear-gradient(180deg, rgba(23,12,68,1) 0%, rgba(15,5,56,1) 100%);
    }

    ul {
      li {
        width: 160px;
        margin-right: 60px;
        padding-top: 32px;

        &:last-child {
          margin: 0;
        }
      }
    }
  }