.section-tickets {
  position: relative;

  .space {
    @include absolute-background(100%, 100%, 0px, cover, repeat);

    background-image: url(../img/tickets-bg.png);
    z-index: -2;
  }

  .stars {
    @include absolute-background(100%, 100%, 50px, contain, repeat);

    background-image: url(../img/stars-e.svg);
    z-index: -1;
  }

  .waves {
    @include absolute-background(100%, 100%, 0px, contain, no-repeat);

    background-image: url(../img/wave.png);
    background-position: bottom center;
    z-index: -1;
  }

  .eventbrite-embedded {
    width: 100%;
    height: 1000px;

    border: 1px solid white;
  }
}
