.section-tickets {
  position: relative;

  .bg {
    @include absolute-background(100%, 100%, 0px, cover, repeat);

    background-image: url(../img/bg-tickets.png);
    z-index: -2;
  }

  .stars {
    @include absolute-background(100%, 100%, 50px, contain, repeat);

    background-image: url(../img/stars-tickets.svg);
    z-index: -1;
  }

  .waves {
    @include absolute-background(100%, 100%, 0px, contain, no-repeat);

    background-image: url(../img/wave-tickets.png);
    background-position: bottom center;
    z-index: -1;
  }

  .container {
    position: relative;
  }

  .planet-blue {
    @include absolute-background(190px, 190px, 0, contain, no-repeat);

    background-image: url(../img/planet-blue.svg);
    top: -10px;
    right: -70px;
    z-index: 0;
  }

  .eventbrite-embedded {
    width: 100%;
    height: 451px;

    border: 1px solid white;
  }
}
