.section-venue {
  background: rgb(10, 9, 38);
  background: linear-gradient(180deg, rgba(10, 9, 38, 1) 0%, rgba(23, 12, 68, 1) 100%);

  z-index: -2;

  .stars {
    @include absolute-background(100%, 668px, 50px, auto, repeat);

    background-image: url(../img/stars-venue.svg);
    z-index: -1;
  }
}
