@import "./variables";
@import "./mixins";

/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Custom resets
 */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: #fff;

  &:before,
  &:after {
    box-sizing: 0;
  }
}


ol,
ul {
  list-style: none;
  margin: 0;
}

a {
  color: $color-brand;
  text-decoration: none;

  &:hover,
  &:focus,
  &:visited {
    color: $color-brand;
  }
}

img {
  height: auto;
  max-width: 100%;

  display: block;
}


code {
  background: $color-bg-brand;
  @include border-radius(3px);
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-size: 16px;

  padding: 3px 5px;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Generic styles
   ========================================================================== */
.text-color-brand {
  color: $color-brand;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import "./header";
@import "./intro";
@import "./motives";
@import "./speakers";
@import "./apply";
@import "./venue";
@import "./sponsors";
@import "./newsletter";
@import "./footer";

.bg {
  width: 100%;
  height: 100%;

  position: absolute;
  z-index: -1000;
}

.stars {
  width: calc(100% - 100px);

  background-size: contain;
  background-repeat: repeat;

  position: absolute;
  margin: 50px;
  z-index: -999;
}

.hamburger-inner {
  background-color: white;
  &:after, &:before { background-color: white; }
}

.divider {
  width: 100%;
  height: 28px;

  background-image: url(../img/divider.svg);
  background-repeat: no-repeat;
  background-position: center center;

  margin: 0 auto;
}

*[data-animate-in="fade"] {
  @include opacity(0);
  @include transition(opacity, 0.6s, ease-in);

  &.in-view {
    @include transition-delay(0.2s);
    @include opacity(1);
  }
}

*[data-animate-in="up"] {
  @include opacity(0);
  @include transform(translate3d(0, 50px, 0));
  transition: opacity 1s ease-in, transform 0.6s ease;
  -moz-transition: opacity 1s ease-in, transform 0.6s ease;
  -webkit-transition: opacity 1s ease-in, transform 0.6s ease;
  -o-transition: opacity 1s ease-in, transform 0.6s ease;

  &.in-view {
    @include transition-delay(0.2s);
    @include opacity(1);
    @include transform(none);
  }
}

*[data-animate-in="right"] {
  @include opacity(0);
  @include transform(translate3d(100px, 0px, 0));
  transition: opacity 1s ease-in, transform 0.6s ease;
  -moz-transition: opacity 1s ease-in, transform 0.6s ease;
  -webkit-transition: opacity 1s ease-in, transform 0.6s ease;
  -o-transition: opacity 1s ease-in, transform 0.6s ease;

  &.in-view {
    @include transition-delay(0.2s);
    @include opacity(1);
    @include transform(none);
  }
}

*[data-animate-in="left"] {
  @include opacity(0);
  @include transform(translate3d(-100px, 0px, 0));
  transition: opacity 1s ease-in, transform 0.6s ease;
  -moz-transition: opacity 1s ease-in, transform 0.6s ease;
  -webkit-transition: opacity 1s ease-in, transform 0.6s ease;
  -o-transition: opacity 1s ease-in, transform 0.6s ease;

  &.in-view {
    @include transition-delay(0.2s);
    @include opacity(1);
    @include transform(none);
  }
}

// .section-apply {
//   width: 100%;
//   background-image: url(../img/solar-system.svg);
//   background-size: cover;
//   background-repeat: no-repeat;
// }

.container {
  // max-width: 1152px;
  max-width: 1400px;
  width: 94%;
  padding: 0;

  &:before {
    display: table;
    content: "";
  }

  &-wide {
    width: 94%;
    max-width: 1440px;
  }

  &-full {
    max-width: 100%;
    overflow: hidden;
  }
}

.button {
  height: 50px;

  background: $color-brand;
  @include border-radius(5px);
  color: $color-text-on-brand !important;
  cursor: pointer;
  font-family: "Geogrotesque-Md";
  line-height: 50px;
  text-align: center;

  display: inline-block;
  padding: 0 16px;
  vertical-align: middle;

  &:hover {
    background-color: darken($color-brand, 5%);
    text-decoration: none;
    bottom: 0;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster */
    @include box-shadow(none !important);
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
