$smallScreen: 768px;
$mediumScreenWidth: 992px;

$textCharcoal: #4a4c52;
$textLight: #8c8f92;
$textPurple: #7a68e8;

$navHeight: 70px;

main {
  background-color: #090642;
  margin-top: 70px;
}

header {
  background-color: #190d47 !important;
}

.privacy-policy {
  padding-top: $navHeight;

  &__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__header {
    font-size: 32px;
    color: white;
    display: block;
    font-weight: 600;
    @media screen and (max-width: $smallScreen) {
      font-size: 24px;
    }
  }

  &__text {
    font-size: 16px;
    color: darken(white, 5%);
    display: block;
    padding: 20px 0 40px 0;
    @media screen and (max-width: $smallScreen) {
      font-size: 14px;
    }
  }

  &__link {
    display: block;
    line-height: 1.67;
  }

  .support-page__comparisson__table__row__item__mod {
    height: auto;
    line-height: 1.67;
    padding: 10px;
    text-align: left;
  }

  .support-page__comparisson__table__row__item__mod:nth-child(3n) {
    border-right: 1px solid #eceef7;
  }

  .support-page__comparisson__table__mobile__row__item__mod {
    height: 100%;
    line-height: 1.67;
    padding: 10px 0;
    > span {
      box-sizing: border-box;
      text-align: left;
    }
    > span:nth-child(1) {
      padding-left: 10px;
    }
    > span:nth-child(2) {
      padding-right: 10px;
    }
  }
}


$tableBackground: #aea8e0;
$tableLightBorder: #eceef7;
$tableDarkBorder: #c9c6eb;
$tableGreen: #3dce8c;
$tablePurple:#796de3;


.support-page {
  padding-top: $navHeight;
  &__splash {
    height: 800px;
    width: 100%;
    background-image: url('/assets/img/support-splash.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    @media screen and (max-width: $smallScreen) {
      height: 400px;
    }
    &__text {
      padding-top: 85px;
      text-align: left;
      @media screen and (max-width: $smallScreen) {
        padding-top: 50px;
        text-align: center;
      }
      > span {
        display: block;
      }
      &__header {
        font-size: 42px;
        width: 50%;
        line-height: 1.3;
        font-weight: 300;
        color: $textCharcoal;
        > strong {
          font-weight: 600;
        }
        @media screen and (max-width: $mediumScreenWidth) {
          width: 60%;
        }
        @media screen and (max-width: $smallScreen) {
          font-size: 28px;
          width: 100%;
        }
      }
      &__tag {
        padding-top: 1rem;
        font-size: 20px;
        color:$textCharcoal;
        font-weight: 300;
        line-height: 1.7;
        width: 60%;
        @media screen and (max-width: $smallScreen) {
          font-size: 14px;
          font-weight: 400;
          width: 100%;
        }
      }
      &__button {
        margin-top: 3rem;
        width: 210px;
        color: white;
        margin-left: 0;
        background-color: #393f4c;
        text-align: center;
        @media screen and (max-width: $smallScreen) {
          margin-top: 2rem;
          margin-left: auto;
        }
      }
    }
  }

  &__features {
    padding: 90px 0;
    @media screen and (max-width: $smallScreen) {
      padding: 50px 0;
    }
    &__container {
      display: flex;
      flex-direction: row;
      @media screen and (max-width: $smallScreen){
        flex-direction: column;
      }
      > div:nth-child(2), div:nth-child(3) {
        @media screen and (max-width: $smallScreen) {
          margin-top: 50px;
        }
      }
    }
    &__item {
      text-align: center;
      flex-basis: 0;
      flex-grow: 1;
      > * {
        display: block;
        margin: 0 auto;
      }
      &__img {
        display: block;
      }
      &__header {
        margin-top: 50px;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.1;
        color: $textCharcoal;
        @media screen and (max-width: $smallScreen) {
          margin-top: 20px;
          font-size: 18px;
        }
      }
      &__text {
        margin-top: 1rem;
        font-size: 16px;
        color: $textLight;
        width: 90%;
        font-weight: 300;
        > a {
          color: $textPurple;
        }
        @media screen and (max-width: $smallScreen) {
          font-size: 14px;
        }
      }
      &__link {
        padding-top: 1.6rem;
        color: $textPurple;
        font-size: 16px;
        @media screen and (max-width: $smallScreen) {
          padding-top: 1rem;
          font-size: 14px;
        }
      }
    }
  }

  &__comparisson {
    position: relative;
    > img {
      position: absolute;
      top: 0;
      width: 100%;
      height: 115%;
      @media screen and (max-width: $smallScreen) {
        height: 100%;
        width: auto;
      }
    }
    &__container {
      padding-bottom: 90px;
      @media screen and (max-width: $smallScreen) {
        padding-bottom: 50px;
      }
    }
    &__header {
      display: block;
      margin: 0 auto;
      font-weight: 300;
      color: $textCharcoal;
      font-size: 30px;
      width: 60%;
      text-align: center;
      > strong {
        font-weight: 600;
      }
      @media screen and (max-width: $smallScreen) {
        font-size: 20px;
        width: 100%;
      }
    }
    &__table__mobile {
      padding: 30px 0;
      display: none;
      @media screen and (max-width: $smallScreen) {
        display: block;
      }
      > :last-child {
        padding-bottom: 0;
      }
      &__row {
        margin-bottom: 1rem;
        width: 100%;
        border: 1px solid $tableDarkBorder;
        border-radius: 6px;
        > :nth-child(1) {
          color: white;
          background: $tableBackground;
          text-align: center;
          border-radius: 5px 5px 0 0;
        }
        > :last-child {
          border-radius: 0 0 5px 5px;
        }
        &__item {
          height: 50px;
          line-height: 50px;
          display: block;
          width: 100%;
          font-size: 14px;
          background-color: white;
          &--split {
            display: flex;
            flex-direction: row;
            > span {
              flex-basis: 0;
              flex-grow: 1;
              text-align: center;
              color: $textCharcoal;
            }
            >:nth-child(2) {
              color: $textPurple;
              font-weight: 600;
            }
          }
        }
      }
    }
    &__table {
      padding: 50px 0;
      width: 100%;
      display: block;
      @media screen and (max-width: $smallScreen) {
        display: none;
      }

      &__header {
        display: block;
        width: 100%;
        display: flex;
        flex-direction: row;
        &__item {
          flex-basis: 0;
          flex-grow: 1;
          height: 70px;
          line-height: 70px;
          color: white;
          font-size: 18px;
          text-align: center;
        }
        > :nth-child(2) {
          background-color: $tableGreen;
          border-radius: 5px 0 0 0;
        }
        > :nth-child(3) {
          background-color: $tablePurple;
          border-radius: 0 5px 0 0;
        }
      }
      &__row {
        display: block;
        width: 100%;
        display: flex;
        flex-direction: row;
        > :nth-child(1) {
          text-align: left;
          color: white;
          font-weight: 300;
          background-color: #3a2389;
          border-bottom: 1px solid $tableDarkBorder;
        }
        > :nth-child(2) {
          border-right: 1px solid $tableLightBorder;
        }
        &__item {
          flex-basis: 0;
          flex-grow: 1;
          text-align: center;
          padding: 0 1rem;
          font-size: 16px;
          height: 50px;
          line-height: 50px;
          border-bottom: 1px solid $tableLightBorder;
          background-color: white;
          color: $textLight;
          &__green {
            color: $tableGreen;
          }
          &__purple {
            color: $tablePurple;
          }
        }
      }
    }
  }
}