.section-speakers {
  position: relative; }
  .section-speakers #speakers-list {
    min-height: 307px; }
  .section-speakers .bg {
    background: #0b0743;
    background: linear-gradient(180deg, #0b0743 0%, #0a0926 100%); }
  .section-speakers .stars {
    width: calc(100% - (50px * 2));
    height: calc(760px - (50px * 2));
    background-size: auto;
    background-repeat: repeat;
    position: absolute;
    margin: 50px;
    background-image: url(../img/speakers-stars.svg);
    z-index: -1; }
  .section-speakers .container {
    position: relative; }
  .section-speakers ul li {
    width: 190px;
    cursor: pointer;
    display: list-item;
    margin-right: 28px;
    margin-left: 28px; }
    @media (max-width: 576px) {
      .section-speakers ul li {
        width: 180px; } }
    .section-speakers ul li .fullname {
      font-size: 1.25rem; }
    .section-speakers ul li .position, .section-speakers ul li .company {
      font-size: 1rem; }
    .section-speakers ul li .company {
      color: #BDB5FF; }
      .section-speakers ul li .company:hover {
        text-decoration: underline; }
    .section-speakers ul li .speaker-frame {
      background: url(../img/speaker-frame.svg) no-repeat;
      background-size: 190px 190px;
      transition: all 0.2s ease-in-out;
      background-position: top center;
      padding: 10px;
      margin-bottom: 30px; }
      .section-speakers ul li .speaker-frame:hover {
        transform: scale(1.2); }
      .section-speakers ul li .speaker-frame img {
        width: 170px;
        height: 170px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        display: block; }
        @media (max-width: 576px) {
          .section-speakers ul li .speaker-frame img {
            width: 160px;
            height: 160px; } }
    .section-speakers ul li a:hover {
      text-decoration: none; }

.speaker-modal {
  width: 100%;
  height: 100%;
  background: #0a0926;
  background: linear-gradient(180deg, #0a0926 0%, #100638 100%);
  display: none;
  position: fixed;
  z-index: 1031;
  overflow: hidden; }
  .speaker-modal.is-open {
    display: block; }
  .speaker-modal * {
    box-sizing: content-box; }
  .speaker-modal .stars {
    height: calc(100% - (100px)) !important;
    background-image: url(../img/speakers-stars.svg);
    background-repeat: repeat;
    background-size: contain; }
  .speaker-modal .planet-purple {
    width: 205px;
    height: 205px;
    background-size: auto;
    background-repeat: no-repeat;
    position: absolute;
    margin: 0;
    background-image: url(../img/planet-purple-dark.svg);
    background-position: center center;
    right: 130px;
    top: 90px;
    z-index: -8; }
    @media (max-width: 1024px) {
      .speaker-modal .planet-purple {
        top: 530px;
        right: 30px; } }
    @media (max-width: 576px) {
      .speaker-modal .planet-purple {
        width: 120px;
        background-size: 120px 120px;
        top: 350px; } }
  .speaker-modal-close {
    width: 40px;
    height: 40px;
    background-color: #0b0928;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 1px solid rgba(26, 236, 167, 0.8);
    pointer-events: initial;
    transition: border 0.3s ease-in-out;
    -moz-transition: border 0.3s ease-in-out;
    -webkit-transition: border 0.3s ease-in-out;
    -o-transition: border 0.3s ease-in-out;
    position: fixed;
    top: 40px;
    right: 40px;
    z-index: 1031; }
    .speaker-modal-close:hover {
      cursor: pointer;
      opacity: 1;
      border: 1px solid #1aeca7; }
      .speaker-modal-close:hover:before, .speaker-modal-close:hover:after {
        background: #1aeca7; }
    .speaker-modal-close:before, .speaker-modal-close:after {
      width: 20px;
      height: 1px;
      background: rgba(26, 236, 167, 0.8);
      content: "";
      transition: background 0.2s ease-in-out;
      -moz-transition: background 0.2s ease-in-out;
      -webkit-transition: background 0.2s ease-in-out;
      -o-transition: background 0.2s ease-in-out;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%; }
    .speaker-modal-close:before {
      transform: translate3d(-50%, -50%, 0) rotate(45deg); }
    .speaker-modal-close:after {
      transform: translate3d(-50%, -50%, 0) rotate(-45deg); }
  .speaker-modal-content {
    max-width: 1400px;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    position: relative; }
    .speaker-modal-content .cospeaker-note {
      font-size: 16px; }
    .speaker-modal-content .planet-purple-dark {
      width: 160px;
      height: 160px;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      margin: 0px;
      background-image: url(../img/planet-purple-dark.svg);
      background-position: center center;
      left: 0px;
      top: -40px;
      z-index: 0; }
      @media (max-width: 1024px) {
        .speaker-modal-content .planet-purple-dark {
          top: -100px;
          right: 0;
          left: auto; } }
      @media (max-width: 768px) {
        .speaker-modal-content .planet-purple-dark {
          width: 83px;
          background-position: right;
          background-size: 130px 130px;
          left: 0; } }
    .speaker-modal-content .m-planet-purple-dark {
      width: 63px;
      height: 120px;
      background-size: 130px 130px;
      background-repeat: no-repeat;
      position: absolute;
      margin: 0px;
      background-image: url(../img/planet-purple-dark.svg);
      background-position: right;
      left: 0;
      top: -70px; }
    @media (max-width: 1024px) {
      .speaker-modal-content {
        overflow: scroll; } }
  .speaker-modal-sidebar {
    position: relative;
    width: calc(50% - 200px);
    min-width: 200px;
    float: left;
    padding: 100px; }
    .speaker-modal-sidebar .planet-blue {
      width: 205px;
      height: 205px;
      background-size: auto;
      background-repeat: no-repeat;
      position: absolute;
      margin: 0;
      background-image: url(../img/planet-blue-dark.svg);
      background-position: center center;
      left: 10px;
      bottom: -25%;
      z-index: -8; }
    .speaker-modal-sidebar figure {
      width: 100%;
      padding-bottom: 100%;
      position: relative; }
      .speaker-modal-sidebar figure .frame-img {
        width: 100%;
        height: 100%;
        max-width: 450px;
        max-height: 450px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        position: absolute; }
      .speaker-modal-sidebar figure .speaker-img {
        width: 90%;
        height: 90%;
        max-width: 400px;
        max-height: 400px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        position: absolute; }
    @media (max-width: 1024px) {
      .speaker-modal-sidebar {
        width: calc(100% - 160px);
        padding: 80px;
        float: none; }
        .speaker-modal-sidebar figure {
          height: 345px;
          padding-bottom: 0 !important; }
        .speaker-modal-sidebar .frame-img {
          width: 345px !important;
          height: 345px !important; }
        .speaker-modal-sidebar .speaker-img {
          width: 300px !important;
          height: 300px !important;
          margin-top: 25px !important; } }
    @media (max-width: 576px) {
      .speaker-modal-sidebar {
        width: calc(100% - 80px);
        padding: 60px 40px 30px 40px; }
        .speaker-modal-sidebar figure {
          height: 245px;
          padding-bottom: 0 !important; }
        .speaker-modal-sidebar .frame-img {
          width: 225px !important;
          height: 225px !important; }
        .speaker-modal-sidebar .speaker-img {
          width: 200px !important;
          height: 200px !important;
          margin-top: 12px !important; } }
  .speaker-modal-body {
    width: calc(50% - 100px);
    max-height: calc(100% - 240px);
    float: right;
    padding: 120px 100px 120px 0;
    overflow: scroll; }
    .speaker-modal-body .company,
    .speaker-modal-body .session-title {
      color: #BDB5FF; }
    .speaker-modal-body .social-links a {
      color: white; }
      .speaker-modal-body .social-links a .logo-wrapper {
        width: 30px; }
        .speaker-modal-body .social-links a .logo-wrapper img {
          height: 16px; }
      .speaker-modal-body .social-links a span {
        line-height: 28px; }
    @media (max-width: 1024px) {
      .speaker-modal-body {
        width: calc(100% - 120px);
        max-height: calc(100%);
        padding: 0 60px 60px 60px;
        float: none;
        overflow: hidden; } }
    @media (max-width: 576px) {
      .speaker-modal-body {
        max-height: calc(100% + 300px); } }

.section-newsletter {
  position: relative; }
  .section-newsletter .bg {
    background: #100638;
    background: linear-gradient(180deg, #100638 0%, #090642 100%); }
  .section-newsletter .wave {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    margin: 0;
    background-image: url(../img/newsletter-wave.svg);
    background-position: top; }
  .section-newsletter-logo {
    width: 198px;
    height: 149px; }
  .section-newsletter form {
    width: 550px;
    max-width: 100%;
    height: 50px;
    padding: 0;
    position: relative; }
    .section-newsletter form input {
      width: calc(100% - 120px);
      height: 50px;
      background-color: #190d47;
      border: 1px solid #BDB5FF;
      border-right: none;
      border-radius: 5px 0 0 5px;
      -moz-border-radius: 5px 0 0 5px;
      -webkit-border-radius: 5px 0 0 5px;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      outline: none;
      letter-spacing: 1px;
      line-height: 50px;
      padding: 5px 20px;
      position: absolute;
      left: 0; }
      @media (max-width: 576px) {
        .section-newsletter form input {
          padding: 3px 10px;
          letter-spacing: 0; } }
      .section-newsletter form input:-ms-input-placeholder {
        color: #BDB5FF;
        font-size: 1rem; }
      .section-newsletter form input::-ms-input-placeholder {
        color: #BDB5FF;
        font-size: 1rem; }
      .section-newsletter form input::placeholder {
        color: #BDB5FF;
        font-size: 1rem;
        opacity: 1;
        -moz-opacity: 1;
        -webkit-opacity: 1;
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
        /* IE 8 */
        filter: alpha(opacity = 100);
        /* IE 5-7 */ }
    .section-newsletter form button {
      width: 140px;
      height: 50px;
      border-radius: 0 5px 5px 0;
      -moz-border-radius: 0 5px 5px 0;
      -webkit-border-radius: 0 5px 5px 0;
      position: absolute;
      top: 0;
      right: 0; }
      .section-newsletter form button .spinner-border {
        display: block;
        color: #240F61;
        margin: 0 auto; }
    .section-newsletter form .form-messages {
      width: 100%;
      height: fit-content;
      padding: 10px 5px;
      position: absolute;
      top: 50px; }
      .section-newsletter form .form-messages .response {
        font-size: 14px;
        text-align: left; }
        .section-newsletter form .form-messages .response.error {
          color: #e74c3c; }
  .section-newsletter .container {
    position: relative; }
  .section-newsletter .m-planet-pink {
    width: 70px;
    height: 110px;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    position: absolute;
    margin: 0;
    background-image: url(../img/planet-pink-medium.svg);
    background-position: left;
    top: 20px;
    right: 0;
    z-index: -1; }
  .section-newsletter .m-spaceship {
    width: 90px;
    height: 190px;
    background-size: 129px 190px;
    background-repeat: no-repeat;
    position: absolute;
    margin: 0;
    background-image: url(../img/spaceship.svg);
    background-position: right;
    top: 20px;
    left: 0;
    z-index: -1; }
  .section-newsletter .planet-pink {
    width: 138px;
    height: 138px;
    background-size: auto;
    background-repeat: no-repeat;
    position: absolute;
    margin: 0;
    background-image: url(../img/planet-pink-medium.svg);
    background-position: center center;
    bottom: 100px;
    right: 40px;
    z-index: -1; }
  .section-newsletter .spaceship {
    width: 160px;
    height: 190px;
    background-size: auto;
    background-repeat: no-repeat;
    position: absolute;
    margin: 0px;
    background-image: url(../img/spaceship.svg);
    background-position: center center;
    top: 20px;
    left: 60px;
    z-index: -1; }

main {
  padding-top: 70px; }
  main:before {
    background-color: #190d47;
    content: '';
    width: 100%;
    height: 90px;
    position: absolute;
    top: 0; }

header {
  background-color: #190d47 !important; }

#speakers-list {
  max-width: 1300px;
  margin: 0 auto; }

.section-speakers {
  position: relative; }
  .section-speakers .container {
    max-width: 1250px;
    padding-top: 180px !important; }
  .section-speakers .bg {
    background: #0a0926;
    background: linear-gradient(180deg, #0a0926 0%, #100638 100%); }
  .section-speakers .planet-blue,
  .section-speakers .planet-purple,
  .section-speakers .m-planet-blue,
  .section-speakers .m-planet-purple {
    background-position: center center; }
  .section-speakers .planet-blue {
    width: 205px;
    height: 205px;
    background-size: auto;
    background-repeat: no-repeat;
    position: absolute;
    margin: 0;
    background-image: url(../img/planet-blue-dark.svg);
    left: -210px;
    top: 410px;
    z-index: -8; }
  .section-speakers .planet-purple {
    width: 238px;
    height: 172px;
    background-size: auto;
    background-repeat: no-repeat;
    position: absolute;
    margin: 0;
    background-image: url(../img/planet-purple-dark.svg);
    right: -190px;
    top: 70px;
    z-index: -9; }
  .section-speakers .m-planet-blue {
    width: 205px;
    height: 205px;
    background-size: auto;
    background-repeat: no-repeat;
    position: absolute;
    margin: 0;
    background-image: url(../img/planet-blue-dark.svg);
    left: 100px;
    top: 60px;
    z-index: -8; }
    @media (max-width: 1024px) {
      .section-speakers .m-planet-blue {
        background-size: 120px 120px;
        left: 70px; } }
    @media (max-width: 768px) {
      .section-speakers .m-planet-blue {
        width: 70px;
        background-position: right;
        left: 0;
        top: 20px; } }
  .section-speakers .m-planet-purple {
    width: 238px;
    height: 172px;
    background-size: auto;
    background-repeat: no-repeat;
    position: absolute;
    margin: 0;
    background-image: url(../img/planet-purple-dark.svg);
    right: 100px;
    top: 30px;
    z-index: -9; }
    @media (max-width: 1024px) {
      .section-speakers .m-planet-purple {
        background-size: 120px 120px;
        right: 70px; } }
    @media (max-width: 768px) {
      .section-speakers .m-planet-purple {
        width: 70px;
        background-position: left;
        right: 0;
        top: 10px; } }
  .section-speakers .speaker-frame {
    margin-bottom: 20px !important; }
  .section-speakers li {
    width: 190px !important;
    margin-bottom: 60px; }
    .section-speakers li:last-child {
      margin: 0 30px 60px 30px !important; }
    .section-speakers li .speaker-frame {
      background: url(../img/speaker-frame-lg.svg) no-repeat !important; }
    .section-speakers li img {
      width: 170px !important;
      height: 170px !important; }
  .section-speakers .stars {
    height: calc(100% - (50px * 2)) !important;
    background-repeat: repeat !important;
    z-index: 0 !important; }

/*# sourceMappingURL=speakersPage.css.map */
