@import "./variables";
@import "./mixins";
@import "./speakers";
@import "./newsletter";

main {
  background-color: #090642;
  padding-top: 70px;
}

header {
  background-color: #190d47 !important;
}


.section-speakers {
  .speaker-frame {
    margin-bottom: 20px !important;
  }

  li {
    margin-bottom: 60px;

    &:last-child {
      margin-bottom: 60px !important;
    }
  }

  .stars {
    height: calc(100% - (50px * 2)) !important;
    background-repeat: repeat !important;
    z-index: 0 !important;
  }
}