.Titillium-ExLt {
  font-family: "Titillium Web";
  font-weight: 200;
}

.Titillium-Lt {
  font-family: "Titillium Web";
  font-weight: 300;
}

.Titillium-Rg {
  font-family: "Titillium Web";
  font-weight: 400 !important;
}

.Titillium-Md {
  font-family: "Titillium Web";
  font-weight: 600 !important;
}

@font-face {
  font-family: 'icons';
  src:  url('/fonts/icons.eot?bjyt25');
  src:  url('/fonts/icons.eot?bjyt25#iefix') format('embedded-opentype'),
    url('/fonts/icons.ttf?bjyt25') format('truetype'),
    url('/fonts/icons.woff?bjyt25') format('woff'),
    url('/fonts/icons.svg?bjyt25#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}