.large-footer,
.small-footer {
  background: rgba(9, 6, 66, 1);

  .social-links a:last-child {
    margin: 0;
  }

  .container {
    border-top: 1px solid lighten($color-bg-brand-light, 10%);

    a {
      color: white;
      margin-left: 16px;
    }

    .by-grakn {
      margin: 0;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
