.site-header {
  height: 90px;

  @include transition(background, 0.26s, ease-in-out);

  box-sizing: border-box;

  &.is-scrolling {
    background: $color-bg-brand-dark;
  }

  &-logo {
    a {
      margin-top: 5px;
      text-decoration: none;
    }

    .logo-type-cosmos {
      margin-bottom: 8px;
    }
  }

  &-nav {
    width: 810px;

    ul {
      a {
        color: white;
        line-height: 1;

        position: relative;
        white-space: nowrap;

        li {
          font-size: 1.25rem;
          padding: 8px;
        }
      }

      .button {
        width: 140px;
        height: 40px;
        line-height: 40px;
      }
    }
  }

  &-inner {
    &:before {
      content: none !important;
    }
  }

  &.mobile {
    @include md-up-to {
      height: 78px;

      .hamburger {
        padding: 0;

        &-box {
          width: 33px;
          height: 31px;
        }

        &-inner {
          width: 35px;

          &:before,
          &:after {
            width: 35px;
          }
        }
      }
    }

    .site-header-nav,
    .site-header-logo a .logo-type-cosmos {
      display: none !important;
    }

    &.expanded,
    .site-header-inner,
    .hamburger {
      display: block !important;
    }

    &.expanded {
      height: auto;
      background: $color-bg-brand-dark;

      ul, .site-header-nav {
        display: block !important;
      }
    }

    .hamburger {
      padding-right: 0;
    }

    .site-header-logo img {
      margin-top: -7px;
    }

    .site-header-inner {
      margin: 0 auto;
      padding: 20px 20px 20px 15px;
    }

    .site-header-nav {
      width: 100% !important;

      ul {
        width: 100%;
        max-width: 100%;

        text-align: left !important;

        margin: 0;
        padding-top: 40px;

        li {
          border-top: 1px solid lighten($color-bg-brand-dark, 5%);
          padding: 15px 0;
        }

        li.action {
          padding-top: 30px;

          .button {
            width: 100%;
          }
        }

      }

      .button {
        margin: 40px 0 20px 0;

        font-size: 1.2em;
      }
    }
  }
}
