@import "./modal";

#session-modal {

  .custom-modal-body { position: relative }

  .planet-blue {
    @include absolute-background(245px, 245px, 0, auto, no-repeat);

    background-image: url(/img/planet-blue-dark.svg);
    background-position: center center;

    right: 130px;
    top: 90px;
    z-index: -8;

    @include lg-up-to {
      top: 530px;
      right: 30px;
    }

    @include sm-up-to {
      width: 120px;
      background-size: 120px 120px;
      top: 350px;
    }
  }

  #title {
    width: calc(100% - 245px);
  }

  #tags {
    .tag {
      @include tag;
      line-height: 29px;
    }
  }

  #speakers {
    a { color: inherit; text-decoration: none; }
    .speaker-frame {
      background: url(/img/speaker-frame.svg) no-repeat;
      background-size: 60px 60px;
      transition: all 0.2s ease-in-out;

      background-position: top center;
      padding: 5px;
      margin-right: 10px;

      img {
        height: 50px;
        width: 50px;
        @include border-radius(50%);
        display: block;
      }
    }
  }
}