.section-speakers {
  position: relative;

  #speakers-list {
    li:first-child {
      margin-left: 0;
    }
    li:last-child {
      margin-right: 0;
    }
  }

  .bg {
    background: rgb(11, 7, 67);
    background: linear-gradient(180deg, rgba(11, 7, 67, 1) 0%, rgba(10, 9, 38, 1) 100%);
  }

  .stars {
    @include absolute-background(100%, 760px, 50px, auto, repeat);

    background-image: url(/img/speakers-stars.svg);
    z-index: -1;
  }

  .container {
    position: relative;
  }

  ul {
    li {
      width: 190px;
      height: 350px;

      cursor: pointer;

      @include sm-up-to {
        width: 180px;
      }

      display: list-item;
      margin-right: 22px;
      margin-left: 22px;

      .fullname {
        font-size: 1.25rem;
      }

      .company-logo {
        margin-top: 20px;
        display: inline-block;
        img {
          margin: 0 auto;
        }
      }

      &:hover {
        .speaker-frame {
          transform: scale(1.2);
        }
      }

      .speaker-frame {
        background: url(/img/speaker-frame.svg) no-repeat;
        background-size: 190px 190px;
        transition: all 0.2s ease-in-out;

        background-position: top center;
        padding: 10px;
        margin-bottom: 30px;

        img.profile-picture {
          width: 170px;
          height: 170px;

          @include border-radius(50%);

          display: block;
        }

        @include sm-up-to {
          background-size: 180px 180px;

          img.profile-picture {
            width: 160px;
            height: 160px;
          }
        }
      }

      a:hover {
        text-decoration: none;
      }
    }
  }
}