.Titillium-ExLt {
  font-family: "Titillium Web";
  font-weight: 200;
}

.Titillium-Lt {
  font-family: "Titillium Web";
  font-weight: 300;
}

.Titillium-Rg {
  font-family: "Titillium Web";
  font-weight: 400;
}

.Titillium-Md {
  font-family: "Titillium Web";
  font-weight: 600;
}