@import "./variables";
@import "./vendor/functions";
@import "./vendor/variables";
@import "./mixins";

@import "./intro";
@import "./sponsors";

.promo-page {
  height: 100%;
  position: relative;

  .bg {
    background: rgb(10, 9, 38);
    background: linear-gradient(180deg, rgba(10, 9, 38, 1) 0%, #090642 100%);
  }

  .register-btn {
    width: 230px;

    @include sm-up-to {
      height: 40px; 
      line-height: 40px;
    }
  }

  #speakers-home-list {
    li {
      height: 350px;
    }
  }

  .section-registration {
    width: 100%;

    .type-option {
      width: 50%;
      border: 1px solid $color-brand-primary;
      background-color: $color-brand-primary;
      cursor: pointer;

      &:first-child {
        @include border-radius(5px 0 0 0);
      }

      &:last-child {
        @include border-radius(0 5px 0 0);
      }

      color: $color-bg-brand-dark;
      text-align: center;

      &.selected {
        background-color: #100836;
        border-bottom: none;

        color: $color-brand-primary;
      }
    }

    .registration-content {
      width: 100%;
      background-color: #100836;
      border: 1px solid $color-brand-primary;
      border-top: none;
      @include border-radius(0 0 5px 5px);
    }
  }
}

form.inline {
  width: 100%;
  display: flex;
  position: relative;

  input {
    width: calc(100% - 120px);
    height: 50px;

    background-color: $color-bg-brand-dark;
    border: 1px solid $color-brand-secondary;
    @include border-radius(5px 0 0 5px);
    @include box-shadow(none);
    outline: none;
    letter-spacing: 1px;
    line-height: 50px;
    border-right: none;

    padding: 5px 20px;

    &.error {
      margin-bottom: 30px !important;
    }

    @include sm-up-to {
      padding: 3px 10px;
      letter-spacing: 0;
    }

    @include placeholder {
      color: $color-brand-secondary;
      font-size: $font-size-base * 1;
    }
  }

  label.error {
    position: absolute;
    top: 60px;
  }

  .button {
    width: 120px;
    @include border-radius(0 5px 5px 0);
  }
}

form.promo {
  input,
  select {
    width: 100%;
    height: 50px;

    background-color: $color-bg-brand-dark;
    border: 1px solid $color-brand-secondary;
    @include border-radius(5px 5px 5px 5px);
    @include box-shadow(none);
    outline: none;
    letter-spacing: 1px;
    line-height: 50px;

    padding: 5px 20px;

    @include sm-up-to {
      padding: 3px 10px;
      letter-spacing: 0;
    }

    @include placeholder {
      color: $color-brand-secondary;
      font-size: $font-size-base * 1;
    }
  }

  .select-container {
    position: relative;
    .select-open-indicator {
      width: 25px;
      height: 38px;

      position: absolute;
      right: 0;
      top: 14px;

      &::after {
        font-size: 0.75em;
        pointer-events: none;
        color: $color-brand-secondary;
        content: "▼";
      }
    }
  }

  select {
    appearance: none;
    -webkit-appearance: none;
    line-height: 25px;

    &:invalid,
    [disabled] {
      color: $color-brand-secondary;
    }

    option {
      color: #fff;
    }
  }

  label.error {
    margin-top: 5px;
  }

  .button[type="submit"] {
    width: 100%;
  }
}

label.error {
  color: $color-text-error;
  font-family: "Titillium Web";
  text-align: left;
}

.team-tab {
  ul {
    list-style: square;
    padding: 15px 0 7px 20px !important;

    li {
      color: $color-brand-primary;
      line-height: 2;
      font-size: 1.15rem;
    }
  }
}