@import "./mixins";

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  
  .go-back-block {
    width: 350px;
    height: 300px;
    
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);  
    margin-top: 200px;

    .button {
      width: 200px;
    }
  }

  &.spaceship {
    background-image: url(/img/404-spaceship-lg.svg);
    background-position: center;
    background-color: #0b0929;
    background-size: contain;
    background-repeat: no-repeat;

    @include md-up-to {
      background-image: url(/img/404-spaceship-md.svg);
    }

    .go-back-block {
      bottom: 130px;
    }
  }
}
