RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} !https 
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
 
ErrorDocument 403 /dist/404.html
ErrorDocument 404 /dist/404.html
ErrorDocument 500 /dist/404.html

RewriteRule ^$ ./dist/index.html
RewriteRule ^speakers$ ./dist/speakers.html
RewriteRule ^privacy-policy$ ./dist/privacy-policy.html
RewriteRule ^code-of-conduct$ ./dist/code-of-conduct.html
RewriteRule ^terms$ ./dist/terms.html
