RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} !https 
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
 
RewriteRule ^/ ./index.html
RewriteRule ^/speakers ./speakers.html
RewriteRule ^/privacy-policy ./privacy-policy.html