<!doctype html>
<html class="no-js" lang="">

<head>
    <title>
        {{title}}
    </title>

    {{> includes/metas }}
    {{> includes/links }}

    {{#> head-block url-prefix=url-prefix}}
      {{!-- Custom <head> content per page could be added. --}}
    {{/head-block}}
</head>

<body>
    <!--[if IE]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <div class="react-cookie-banner cookie-banner">
        <span class="cookie-message">
            We use cookies to improve the user experience on our website. If you want to know more about it,
            you can read our <a href="/privacy-policy">privacy policy</a>.
        </span>
        <button class="button-close">OK</button>
    </div>

    {{> includes/header }}

    {{> includes/speaker-modal}}
    {{> includes/session-modal}}

    <main aria-label="Content" role="main">
        {{> content-block }}
    </main>
    {{> includes/footer }}

    {{> includes/scripts }}
    {{#> scripts-block}}
      {{!-- Custom scrips content per page could be added. --}}
    {{/scripts-block}}
</body>

</html>
