<!doctype html>
<html class="no-js" lang="">

<head>
    <title>
        {{title}}
    </title>

    {{> includes/metas }}
    {{> includes/links }}

    {{#> head-block url-prefix=url-prefix}}
      {{!-- Custom <head> content per page could be added. --}}
    {{/head-block}}
</head>

<body>
    <!--[if IE]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    {{> includes/header }}

    {{> includes/speaker-modal}}

    <main aria-label="Content" role="main">
        {{> content-block }}
    </main>
    {{> includes/footer }}

    {{> includes/scripts }}
    {{#> scripts-block}}
      {{!-- Custom scrips content per page could be added. --}}
    {{/scripts-block}}
</body>

</html>
