<!doctype html>
<html class="no-js" lang="">

<head>
    <title>
        {{title}}
    </title>

    {{> includes/metas }}
    {{> includes/links }}

    {{#> head-block url-prefix=url-prefix}}
        {{!-- Custom <head> content per page could be added. --}}
    {{/head-block}}
</head>

<body>
    {{> content-block }}

    <script src="js/vendor/jquery-3.3.1.min.js"></script>
    {{#> scripts-block}}
        {{!-- Custom <head> content per page could be added. --}}
    {{/scripts-block}}
</body>

</html>