{{#> layouts/base title="Grakn Cosmos" url-prefix="" }}

{{#*inline "head-block"}}
<link rel="stylesheet" href="/css/indexPage.css?v=9">
{{/inline}}

{{#*inline "content-block"}}
<div id="page-home">
    <div id="intro" class="section-intro a">
        <div class="bg"></div>
        <div class="stars d-none d-md-block"></div>

        <div class="m-planet-blue d-block d-lgc-none"></div>
        <div class="m-planet-purple d-block d-lgc-none"></div>
        <div class="m-planet-pink d-block d-lgc-none"></div>
        <div class="m-spaceship d-block d-lgc-none"></div>

        <div class="futuristic-city"></div>

        <div class="sub-section-summary
                    container-full
                    text-center
                    position-relative">
            <div class="container
                        text-center">
                <div class="section-intro-logo
                            mx-auto mb-8 mb-md-6">
                    <img class="section-intro-logoType
                                mx-auto" src="/img/logos/logo-cosmos-icononly.svg" alt="COSMOS">
                </div>

                <p class="title h1 Titillium-Rg
                        mx-auto mb-5 mb-md-3">Grakn Cosmos: The Universe<br class="d-sm-none d-block" /> of Orderly
                    Systems</p>

                <p class="h5 Titillium-Lt
                        mx-auto mb-4">
                    Welcome to the universal conference<br class="d-sm-none d-block" /> of technologies built using <a
                        href="https://grakn.ai" target="_blank">Grakn</a>
                </p>

                <p class="h2 Titillium-Rg text-color-brand
                        mt-10 mb-4">6-7th of February 2020</p>

                <p class="h5 Titillium-Lt
                        mb-4">
                    Kensington Conference and Events Centre
                    <span class="d-none d-sm-inline px-1"> | </span>
                    <br class="d-block d-sm-none" />
                    London, United Kingdom
                </p>

                <a href="https://blog.grakn.ai/grakn-cosmos-2020-a-recap-b8ced957dcdc?source=collection_home---2------0-----------------------&gi=1f4292203856" target="_blank" style="width: 200px" class="button button-outlines h5 px-7 m-2">
                    Read Recap
                </a>

                <a href="https://discuss.grakn.ai/t/grakn-cosmos-2020-in-pictures/1923" target="_blank" style="width: 200px" class="button button-outlines h5 px-7 m-2">
                    Photo Recap
                </a>

                <div class="planet-blue d-none d-lgc-block"></div>
                <div class="planet-purple d-none d-lgc-block"></div>
                <div class="planet-pink d-none d-lgc-block"></div>
                <div class="spaceship d-none d-lgc-block"></div>
            </div>
        </div>

        <div class="divider pb-10 pt-11"></div>

        <div class="sub-section-description
                    container
                    text-center">
            <p class="h2 Titillium-Rg text-center">
                What is Grakn Cosmos?
            </p>

            <p class="h5 Titillium-Lt
                    mt-6">
                The "cosmos" is the universe viewed as a complex and orderly system, as opposed to chaos.
                <a href="https://grakn.ai" target="_blank"><code
                        class="text-nowrap c-pointer">Grakn isa database;</code></a>
                one that empowers complex systems to be more intelligent through logic, reasoning, and
                knowledge
                engineering.
                The universe of all systems built on Grakn is the universe of orderly systems -- the
                Grakn
                Cosmos.
            </p>

            <p class="h5 Titillium-Lt
                    mt-6">
                By landing on this page, you are either part of the Grakn Cosmos, or have just found it.
                In either case, we hope you are excited for what the future holds.
            </p>

            <p class="h5 Titillium-Lt
                    mt-6">
                Welcome, to Grakn Cosmos.
            </p>
        </div>
    </div>

    <div id="motives" class="section-motives">
        <div class="bg"></div>
        <div class="stars
                    d-none d-md-block"></div>
        <div class="container
                    py-11">
            <div class="mx-auto col-12">
                <p class="h2 Titillium-Rg text-center" data-animate-in="fade">
                    The conference of people changing<br class="d-lg-none d-sm-block d-none" /> the universe with Grakn
                </p>
                <div class="row pt-12 pt-md-6 align-items-center" data-animate-in="right">
                    <img class="w-100 w-md-50" src="/img/motive-pioneers.svg" />
                    <div class="motive-text-block w-100 w-md-50 text-center text-md-left">
                        <p class="h3 Titillium-Rg">Meet the pioneers.</p>
                        <p class="h5 Titillium-Lt
                                pt-2">
                            Meet the people behind the @username: the inventors, the innovators and the rule
                            breakers.
                        </p>
                    </div>
                </div>

                <div class="row pt-12 pt-md-6 flex-sm-row-reverse align-items-center" data-animate-in="left">
                    <img class="w-100 w-md-50" src="/img/motive-future.svg" />
                    <div class="motive-text-block w-100 w-md-50
                                text-center text-md-left">
                        <p class="h3 Titillium-Rg">Look to the future.</p>
                        <p class="h5 Titillium-Lt
                                pt-2">
                            Explore the applications of knowledge engineering pushing the boundary of intelligent
                            systems.
                        </p>
                    </div>
                </div>

                <div class="row pt-12 pt-md-6 align-items-center" data-animate-in="right">
                    <img class="w-100 w-md-50" src="/img/motive-inspired.svg" />
                    <div class="motive-text-block w-100 w-md-50 text-center text-md-left">
                        <p class="h3 Titillium-Rg">Be inspired.</p>
                        <p class="h5 Titillium-Lt
                                pt-2">
                            Empower yourself with the wisdom, ideas, and technology to build a better future.
                            Together.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="divider"></div>
    </div>


    <div id="speakers" class="section-speakers">
        <div class="bg"></div>

        <div class="stars
                    d-none d-md-block"></div>

        <div class="planet-purple-dark
                    d-block d-md-none"></div>

        <div class="container
                    text-center
                    pt-12 pb-11">
            <div class="mx-auto col-12">
                <p class="h2 Titillium-Rg">The Cosmos Voyagers</p>
                <div class="row py-8">
                    <!-- speakers-list-hidden is used as a guideline for determining the number of speakers that need to be loaded based on the screensize -->
                    <ul id="speakers-list-hidden" class="d-none" data-animate-in="up">
                        <li></li>
                        <li class="d-none d-sm-block"></li>
                        <li class="d-none d-md-block"></li>
                        <li class="d-none d-lg-block"></li>
                        <li class="d-none d-xl-block"></li>
                    </ul>

                    <ul id="speakers-home-list" class="w-100 d-flex flex-wrap align-items-top justify-content-center"
                        data-animate-in="up">
                        <!-- populated by js -->
                    </ul>
                </div>
                <a class="button
                        h5" href="./speakers">
                    See All Speakers
                </a>
            </div>

            <div class="planet-purple-dark
                        d-none d-md-block"></div>
            <div class="planet-pink-dark
                        d-none d-lg-block"></div>
        </div>
    </div>

    <div id="apply" class="section-apply">
        <div class="bg-wrapper">
            <div class="bg"></div>
            <svg class="top-mask" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                <polygon fill="#0a0926" points="0, 0, 100, 50, 100 0" />
            </svg>
            <svg class="bottom-mask" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
                preserveAspectRatio="none">
                <polygon fill="#0a0926" points="0, 50, 100, 100, 0, 100" />
            </svg>
        </div>
        <div class="container
                    text-center">
            <div class="apply-content">
                <p class="h2 Titillium-Rg">Bring your Grakn story</p>
                <p class="h5 Titillium-Lt mt-6" style="line-height: 30px;">
                    Share your story of knowledge engineering with the community.
                    Share your challenges, your solutions, your innovations, and your lessons.
                    Let us celebrate your achievements with you and tell the universe about it.
                </p>
                <p class="h5 Titillium-Lt mt-6" style="line-height: 30px;">
                    Let us know if you would like to speak at an upcoming Grakn Cosmos. Fill out the form below and we will reach out about joining the Cosmos.
                </p>
                <div class="mt-6">
                    <a class="button h5 px-4" href="mailto:community@grakn.ai?subject=Grakn Cosmos Session Submission" target="_blank">
                        Join the Cosmos
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="venue" class="section-venue">
        <div class="bg"></div>
        <div class="stars
            d-none d-md-block"></div>

        <div class="container
                    pt-0 pb-4">
            <img class="venue-london-sm w-100 d-block d-sm-none mt-6" src="/img/venue-london-sm.svg"
                data-animate-in="fade" />

            <div class="mx-auto col-12">
                <img class="w-100 pt-8 d-none d-sm-block" src="/img/venue-london.svg" data-animate-in="fade" />

                <div class="venue-details
                            w-100 mb-13 pt-8
                            text-center">
                    <p class="h2 Titillium-Rg
                                pt-0">
                        Kensington Conference <br class="d-sm-none d-block" />and Events Centre
                    </p>
                    <p class="address
                                h4 Titillium-Lt
                                pt-4">
                        Kensington Town Hall, Hornton St<br />
                        London W8 7NX, United Kingdom
                    </p>
                    <a class="button
                                h5
                                px-7 mt-8 mx-lg-auto" href="https://goo.gl/maps/W1Mffr2qJZGH6ENM9" target="_blank">
                        View Map
                    </a>
                </div>
            </div>
            <div class="divider"></div>
        </div>
    </div>

    <div id="partners" class="section-sponsors">
        <div class="bg"></div>
        <div class="stars d-none d-md-block"></div>

        <div class="container
                    text-center
                    py-11">
            <div class="mx-auto col-12">
                <p class="h2 Titillium-Rg">Sponsors and<br class="d-sm-none d-block" /> Community Partners</p>
                <p class="h5 Titillium-Lt
                        mt-4">
                    Meet the organisations that make Grakn Cosmos possible.<br class="d-none d-md-block" />
                    If you'd like to learn more about sponsorships,
                    <a href="mailto:cosmos@grakn.ai?Subject=Grakn%20Cosmos%20Sponsorships">contact us</a>.
                </p>
                <div id="partners-list" class="row pt-7 d-flex align-items-center">
                </div>
            </div>
        </div>

        <div class="divider"></div>

    </div>
</div>

{{> includes/newsletter }}

{{/inline}}

{{#*inline "scripts-block"}}
<script src="/js/index.js?v=9"></script>
{{/inline}}

{{/layouts/base}}

<style>
    
</style>