{{#> layouts/promo title="Cosmos | Enterprise Promo" url-prefix="" }}

{{#*inline "head-block"}}
<link rel="stylesheet" href="/css/promoPage.css?v=9">
{{/inline}}

{{#*inline "content-block"}}
<div class="promo-page">
    <div class="bg"></div>
    <div id="intro" class="section-intro a">
        <div class="stars d-none d-md-block"></div>

        {{!-- <div class="m-planet-blue d-block d-lgc-none"></div>
    <div class="m-planet-purple d-block d-lgc-none"></div>
    <div class="m-planet-pink d-block d-lgc-none"></div>
    <div class="m-spaceship d-block d-lgc-none"></div> --}}

        {{!-- <div class="futuristic-city"></div> --}}

        <div class="sub-section-summary
                    container-full
                    text-center
                    position-relative pt-7 pt-md-12">
            <div class="container
                        text-center">
                <div class="section-intro-logo
                            mx-auto mb-8 mb-md-6">
                    <a style="display: block; cursor: pointer; width: 280px" class="d-block my-0 mx-auto" href="/">
                        <img src="/img/logos/logo-cosmos-horizontal.svg" style="width: 100%" />
                    </a>
                </div>
                <p class="title h1 Titillium-Rg
                        mx-auto mb-3" style="max-width: 800px">
                    London's 1st look at the future of AI in the connected decade.
                </p>

                <p class="h2 Titillium-Rg text-color-brand mt-4">6-7th of February 2020</p>
                <p class="h5 Titillium-Lt mt-2">
                    London, United Kingdom
                </p>

                <div id="eventbrite-widget-modal-trigger-58504110369"
                    style="width: 230px; height: 40px; line-height: 40px;" class="button h5 px-7 mt-5 mb-5">
                    Jump to RSVP
                </div>

                <p class="title h4 Titillium-Rg
                        mx-auto mb-3" style="max-width: 600px">
                    Join 40+ technical leaders, builders and innovators who will be sharing their vision and current
                    applications.
                </p>

                {{!-- <p class="h3 Titillium-Lt mt-5">
                Or join the community below to get the ticket for <b>FREE</b>
            </p> --}}

                {{!-- <div class="planet-blue d-none d-lgc-block"></div>
            <div class="planet-purple d-none d-lgc-block"></div>
            <div class="planet-pink d-none d-lgc-block"></div>
            <div class="spaceship d-none d-lgc-block"></div> --}}
            </div>
        </div>

        {{!-- <div class="sub-section-description
                    container
                    text-center">
        <form name="registration" action="" class="promo">
            <input type="text" name="firstname" id="firstname" placeholder="John" />

            <input type="text" name="lastname" id="lastname" placeholder="Doe" />

            <input type="email" name="email" id="email" placeholder="john@doe.com" />

            <input type="password" name="password" id="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;" />

            <button class="button" type="submit">Get your Grakn Cosmos ticket for FREE</button>
        </form>
    </div> --}}
    </div>

    <div id="speakers" class="section-speakers">
        {{!-- <div class="bg"></div> --}}

        <div class="stars
                    d-none d-md-block"></div>

        {{!-- <div class="planet-purple-dark
                    d-block d-md-none"></div> --}}

        <div class="container
                    text-center">
            <div class="mx-auto col-12">
                {{!-- <p class="h2 Titillium-Rg">The Cosmos Voyagers</p> --}}
                <div class="row py-6">
                    <!-- speakers-list-hidden is used as a guideline for determining the number of speakers that need to be loaded based on the screensize -->
                    <ul id="speakers-list-hidden" class="d-none" data-animate-in="up">
                        <li></li>
                        <li class="d-none d-sm-block"></li>
                        <li class="d-none d-md-block"></li>
                        <li class="d-none d-lg-block"></li>
                        <li class="d-none d-xl-block"></li>
                    </ul>

                    <ul id="speakers-home-list" class="w-100 d-flex flex-wrap align-items-top justify-content-center"
                        data-animate-in="up">
                        <!-- populated by js -->
                    </ul>
                </div>
                {{!-- <a class="button
                        h5" href="/speakers">
                    See All Speakers
                </a> --}}
            </div>

            {{!-- <div class="planet-purple-dark
                        d-none d-md-block"></div>
            <div class="planet-pink-dark
                        d-none d-lg-block"></div> --}}
            <div class="divider py-5 py-md-10"></div>
        </div>
    </div>

    <div id="values" class="sections-values">
        <div class="container
                    text-center">
            <div class="mx-auto col-12">
                {{!-- <p class="h2 Titillium-Rg">The Cosmos Voyagers</p> --}}
                <div class="row py-6">
                    <div class="col-11 col-md-4 pr-0 pr-md-4 pb-8 pb-md-0 mx-auto">
                        <p class="h3 Titillium-Rg pb-3">
                            Make Human Connections
                        </p>
                        <p class="h5 Titillium-Rg">
                            Meet the inventors, innovators, the rule-breakers paving the road ahead.
                        </p>
                    </div>
                    <div class="col-11 col-md-4 pr-0 pr-md-4 pb-8 pb-md-0 mx-auto">
                        <p class="h3 Titillium-Rg pb-3">
                            Peer into the Future
                        </p>
                        <p class="h5 Titillium-Rg">
                            Explore the applications of Knowledge Engineering, pushing the boundary of intelligent
                            systems.
                        </p>
                    </div>
                    <div class="col-11 col-md-4 mx-auto">
                        <p class="h3 Titillium-Rg pb-3 ">
                            Turn Conversation into Action
                        </p>
                        <p class="h5 Titillium-Rg">
                            Empower yourself and others by sharing wisdom, ideas, and the technology to build a better
                            future, together.
                        </p>
                    </div>
                </div>
                {{!-- <a class="button
                        h5" href="/speakers">
                    See All Speakers
                </a> --}}
            </div>

            {{!-- <div class="planet-purple-dark
                        d-none d-md-block"></div>
            <div class="planet-pink-dark
                        d-none d-lg-block"></div> --}}
            <div class="divider py-5 py-md-10"></div>
        </div>
    </div>

    <div id="partners" class="section-sponsors">
        {{!-- <div class="bg promo"></div> --}}
        <div class="stars d-none d-md-block"></div>

        <div class="container
                    text-center pt-6">
            <div class="mx-auto col-12">
                <p class="h4 Titillium-Rg mx-auto" style="max-width: 800px;">
                    These organisations will be sharing how they think about Machine Learning, NLP, Blockchain, Robotics
                    and Knowledge Engineering.
                    <br />
                    <b>Don't miss it, save your spot below</b>
                </p>
                <div id="partners-list" class="row pt-7 d-flex align-items-center">
                </div>
            </div>
        </div>

        <div class="divider py-5 py-md-10"></div>
    </div>

    <div id="registration" class="section-registration">
        <div class="container">
            <div class="registration-type-switch d-flex">
                <div class="type-option selected p-3">
                    <p class="h5 Titillium-Md">Register Now</p>
                </div>
                <div class="type-option p-3">
                    <p class="h5 Titillium-Md">Bring Your Team</p>
                </div>
            </div>
            <div class="registration-content form-tab">
                <form name="registration" class="promo">
                    <input type="text" name="firstname" id="firstname" placeholder="First Name"/>
                    <input type="text" name="lastname" id="lastname" placeholder="Last Name" class="mt-4"/>
                    <input type="email" name="email" id="email" placeholder="Email" class="mt-4"/>
                    <input type="text" name="company" id="company" placeholder="Company" class="mt-4"/>
                    <div class="select-container">
                        <div class="select-open-indicator mt-4"></div>
                        <select name="industry" class="mt-4" required>
                            <option value="" disabled selected>Industry</option>
                            <option value="biotech">Biotech</option>
                            <option value="lifesciences">Lifesciences</option>
                            <option value="robotics">Robotics</option>
                            <option value="defence">Defence</option>
                            <option value="finance">Finance</option>
                            <option value="martech">MarTech</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <button class="button h5 mt-4" type="submit">RSVP</button>
                </form>
            </div>
            <div class="registration-content team-tab" style="display: none;">

            </div>
        </div>
    </div>
</div>
{{/inline}}

{{#*inline "scripts-block"}}
<script src="/js/index.js?v=9"></script>
<script src="/js/vendor/jquery-validation.js"></script>
<script>
    $(document).ready(function () {
        $("form[name='registration']").validate({
            rules: {
                firstname: "required",
                email: {
                    required: true,
                    email: true
                },
                industry: {
                    required: true
                }
            },
            // Specify validation error messages
            messages: {
                firstname: "What do we call you?",
                email: "Communication needs a medium.",
                industry: "We just want to get to know you better."
            },

            submitHandler: function (form) {
                form.submit();
            }
        });
    });
</script>
{{/inline}}

{{/layouts/promo}}