{{#> layouts/base title="Cosmos | Sessions" url-prefix="./"}}

{{#*inline "head-block"}}
<link rel="stylesheet" href="/css/sessionsPage.css?v=8">
{{/inline}}

{{#*inline "content-block"}}

<div class="page-sessions">
    <div class="sessions-header pb-10">
        <div class="container text-center pt-10 pb-0">
            <div class="mx-auto col-12 cl-md-10">
                <p class="h2 Titillium-Rg">Learn about the applications of knowledge engineering</p>
                <div id="tag-buttons" class="tags-container row py-8 d-flex align-items-center justify-content-center">
                </div>

                <div id="unselect-tags-btn" class="button button-outlines">Unselect Tags</div>
            </div>
        </div>
    </div>

    <div class="sessions-list pb-10">
        <div class="container text-center">
            <div class="searchbox-container">
                <input id="sessions-list-searchbox" class="searchbox Titillium-Rg" type="text" placeholder="Search sessions" />
                <div class="searchbox-clear-btn">
                    
                </div>
            </div>
            <div id="sessions-list"></div>
        </div>
    </div>
</div>


{{> includes/newsletter }}

{{/inline}}

{{#*inline "scripts-block"}}
<script src="/js/sessions.js?v=8"></script>
{{/inline}}

{{/layouts/base}}