{{#> layouts/base title="Cosmos | Speakers" url-prefix="./"}}

{{#*inline "head-block"}}
<link rel="stylesheet" href="/dist/css/speakersPage.css?v=6">
{{/inline}}

{{#*inline "content-block"}}

<div class="section-speakers">
    <div class="bg"></div>
    <div class="stars
                d-none d-md-block"></div>

    <div class="m-planet-blue
                d-block d-xxl-none"></div>
    <div class="m-planet-purple
                d-block d-xxl-none"></div>

    <div class="container
                text-center
                pt-16 pb-0">
        <div class="mx-auto col-12 cl-md-8">
            <p class="h2 Titillium-Rg">The Cosmos Voyagers</p>
            <p class="h5 Titillium-Lt mt-6">
            </p>
            <div class="row
                        py-8">
                <ul id="speakers-all-list" class="w-100 d-flex flex-wrap align-items-center justify-content-center">
                    <!-- speakers are inserted here by speakers.js -->
                </ul>

                <div class="planet-blue
                            d-none d-xxl-block"></div>
                <div class="planet-purple
                            d-none d-xxl-block"></div>
            </div>

        </div>
    </div>

    <div class="divider pb-10 pt-11"></div>
</div>


{{> includes/newsletter }}


{{/inline}}

{{/layouts/base}}