{{#> layouts/base title="Cosmos | Speakers" url-prefix="./index.html"}}

{{#*inline "head-block"}}
    <link rel="stylesheet" href="css/speakersPage.css">
{{/inline}}

{{#*inline "content-block"}}

<div id="speakers" class="section-speakers">
    <div class="bg"></div>
    <div class="stars d-none d-md-block"></div>

    <div class="container
                        text-center
                        pt-12 pb-0">
        <div class="mx-auto col-10 cl-md-8">
            <p class="h2 Geogrotesque-Rg">The Cosmos Voyagers</p>
            <p class="h5 Titillium-Lt mt-6" style="line-height: 30px;">
                Share your story of knowledge engineering intelligent systems with the community.
                <br class="d-none d-sm-block" />Share your challenges, your solutions, your innovations, and your
                lessons.
                <br class="d-none d-sm-block" />Let us celebrate your achievements with you and tell the universe about
                it.
            </p>
            <div class="row
                                py-8">
                <ul id="speakers-list" class="w-100 d-flex flex-wrap align-items-center justify-content-center">
                    <!-- speakers are inserted here by speakers.js -->
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="divider pb-10 pt-11"></div>


<div class="section-newsletter
                    text-center
                    position-relative">
    <div class="wave d-none d-sm-block"></div>
    <div class="bg"></div>

    <div class="container
                        py-11">
        <div class="section-newsletter-logo
                            mx-auto">
            <img class="w-100 h-100" src="img/logo-intro.svg" alt="COSMOS">
        </div>

        <p class="h3 Geogrotesque-Rg text-uppercase
                        py-4 mx-auto col-md-8">Grakn Cosmos</p>

        <div id="mc_embed_signup" class="px-3">
            <form
                action="https://grakn.us8.list-manage.com/subscribe/post-json?u=b27e8984466b0dc642a917ba5&amp;id=3742a20dc0&&c=?"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                class="validate mx-auto col-10 cl-md-8" target="_blank" novalidate>
                <input type="email" value="" name="EMAIL" class="email d-none d-sm-block" id="mce-EMAIL"
                    placeholder="Stay tuned with conference updates" required>
                <input type="email" value="" name="EMAIL" class="email d-block d-sm-none" id="mce-EMAIL"
                    placeholder="Stay tuned" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_b27e8984466b0dc642a917ba5_3742a20dc0" tabindex="-1" value="">
                </div>
                <button class="button" type="submit" id="mc-embedded-subscribe">Subscribe</button>

                <div id="mce-responses" class="form-messages clear">
                    <div class="response error
                                        Titillium-Lt" id="mce-error-response" style="display: none"></div>
                    <div class="response success
                                        Titillium-Lt" id="mce-success-response" style="display: none"></div>
                </div>
            </form>
        </div>

        <div class="spaceship d-none d-lg-block"></div>
        <div class="planet-pink d-none d-lg-block"></div>
    </div>
</div>

{{/inline}}

{{#*inline "scripts-block"}}
    <script src="js/speakers.js"></script>
{{/inline}}

{{/layouts/base}}