{{#> layouts/base title="Terms" url-prefix="./"}}

{{#*inline "head-block"}}
<link rel="stylesheet" href="css/privacy-policy.css?v=5">
{{/inline}}


{{#*inline "content-block"}}
<div class="container section__container privacy-policy__container">
    <h3 class="privacy-policy__header">
        Terms of Event
    </h3>
    <span class="privacy-policy__text">
        By attending Grakn Cosmos, including any event or activity organised by Grakn Labs Ltd in association with Grakn
        Cosmos (collectively referred to as the "Event"), you indicate that you have read, understand, and agree to
        these Terms of Event. Please read them carefully.
    </span>
    <ol>
        <li>
            <strong>Harrassment not tolerated</strong>
            <span class="privacy-policy__text">
                You will abide by the <a href="./code-of-conduct" >Code of Conduct</a> which seeks to provide a harassment-free event experience
                for everyone.
                <br />
                <br />
                Participants asked to stop any harassing behavior are expected to comply immediately
                <br />
                <br />
                If you choose to attend the Event, you agree to follow our <a href="./code-of-conduct" >Code of Conduct</a>. You can find our complete
                policy here.
                <br />
                <br />
                If a participant engages in harassing behaviour, event organisers retain the right to take any actions
                to keep the event a welcoming environment for all participants. This includes warning the offender or
                expulsion from the conference with no refund.
            </span>
        </li>

        <li>
            <strong>Basics in order to attend</strong>
            <span class="privacy-policy__text">
                In order to participate in the Event, you declare that you (a) have the requisite power and authority to
                enter into these Event Terms and (b) you have read and understood these Terms of Events.
                <br />
                <br />
                In order to register for the Event you must be at least 18 years old.
            </span>
        </li>

        <li>
            <strong>Pictures</strong>
            <span class="privacy-policy__text">
                Grakn Labs will take photos and videos at the Event. By participating or attending the Event, you agree
                that you may appear in some of these videos and photos, and you authorise Grakn Labs's use of them. if
                you take any photos or videos of attendees at the Event and provide them to us, you authorise us to use
                them in the same way, and represent that the attendees that appear in your photos and videos have also
                consented to such use.
            </span>
        </li>

        <li>
            <strong>Assumption of Risk / Release of Liability / Indemnity</strong>
            <span class="privacy-policy__text">
                (a) Assumption of Risk. Although we try to create a safe environment at the Event, accidents or other
                bad things happen, even to good people. We ask that you do your part to help limit the possibility that
                you might get injured at the Event.
                <br />
                <br />
                You agree to carefully consider the risks inherent in any activities that you choose to take part in and
                to take reasonable precautions before you choose to attend or participate at the Event. For example, you
                should ensure that you are in good physical health before engaging in any physical activity at the
                Event, and you should always drink responsibly given the risks associated with drunk driving and
                participating in activities while your judgment is impaired. It’s always good to remember that other
                event guests may be less responsible than you, and may themselves create additional risk to you despite
                their best intentions.
                <br />
                <br />
                In short, you understand that your attendance and participation at the Event is voluntary, and you agree
                to assume responsibility for any resulting injuries to the fullest extent permitted under applicable
                law.
                <br />
                <br />
                By the same token, you agree that Grakn Labs is not responsible for any injuries or accidents that you
                might sustain at any events that Grakn Labs doesn’t organise or control.
                <br />
                <br />
                (b) Release of Liability. You (for yourself, your heirs, personal representatives, or assigns, and
                anyone else who might make a claim on your behalf) hereby release, waive, discharge and covenant not to
                sue Grakn Labs and its respective parent companies, subsidiaries, affiliates, officers, directors,
                partners, shareholders, members, agents, employees, vendors, sponsors, and volunteers from any and all
                claims, demands, causes of action, damages, losses or expenses (including court costs and reasonable
                attorneys fees) which may arise out of, result from, or relate in any way to your attendance at the
                Event or any related event, except, of course, for any gross negligence or wilful misconduct on our
                part.
                <br />
                <br />
                (c) Indemnity. By the same token, you agree to indemnify and hold Grakn Labs, its parents, subsidiaries,
                affiliates, officers, directors, employees, agents and representatives harmless, including costs,
                liabilities and legal fees, from any claim or demand made by any third party due to, related to, or
                connected with your attendance or conduct at the Event or any related event.
            </span>
        </li>

        <li>
            <strong>Termination</strong>
            <span class="privacy-policy__text">
                We may prohibit your attendance to the Event at any time if you fail to abide to these Terms of Event
                and the <a href="./code-of-conduct" >Code of Conduct</a>, or for any or no reason, without notice or liability of any kind. Section 4
                will continue to apply after the termination.
            </span>
        </li>

        <li>
            <strong>Choice of law and venue</strong>
            <span class="privacy-policy__text">
                English and Welsh law will govern these Terms of event, as well as any claim, cause or action or dispute
                that might arise between you and Grakn Labs Ltd (a "Claim"), without regard to conflict of law
                provisions.
            </span>
        </li>

        <li>
            <strong>Miscellaneous Terms</strong>
            <span class="privacy-policy__text">
                You agree that you will not represent yourself as a Grakn Labs employee (unless you are actually
                employed by Grakn Labs). We reserve the right to cancel the Event at any time, for any reason, and
                without liability or prejudice. Any failure on Grakn Labs's part to exercise any right or provision of
                these terms does not constitute a waiver of such right or provision. If any provision of these terms is
                found to be unenforceable or invalid, that provision shall be limited or eliminated to the minimum
                extent necessary so that the Terms of Event shall otherwise remain in full force and effect and
                enforceable.
                <br />
                <br />
                We may modify these Terms of Event at any time without notice to you by updating and posting a new
                version on the Grakn Cosmos website. Your continued use of this website following such changes
                constitutes your acceptance of the revised terms.
            </span>
        </li>
    </ol>
    {{/inline}}

    {{/layouts/base}}