{{#> layouts/empty title="Grakn Cosmos" url-prefix="" }}

{{#*inline "head-block"}}
<link rel="stylesheet" href="css/thankyouPage.css?v=9">
{{/inline}}

{{#*inline "content-block"}}
<div class='go-back-block'>
    <p class="title h2 Titillium-Md mb-3">We'll get in touch soon!</p>
    <p class="message h4 Titillium-Rg mb-4">Hope to see you at Grakn Cosmos.</p>
    <a class="button Titillium-Md" href="./">Back to Grakn Cosmos</a>
</div>
{{/inline}}

{{#*inline "scripts-block"}}
<script>
    $(document).ready(function () {
        $('body').addClass('spaceship');
    });
</script>
{{/inline}}

{{/layouts/empty}}