<header class="site-header
               w-100 position-fixed fixed-top fixed-left d-none" role="banner">
    <div class="site-header-inner
                container container-wide
                h-100 d-flex align-items-center justify-content-center">
        <div class="site-header-logo
                    d-inline position-relative" style="width: 55%">
            <a href="./" class="d-inline-block">
                <img class="logo-cosmos d-sm-inline-block d-none" src="img/logos/logo-cosmos-horizontal.svg" alt="COSMOS" />
                <img class="logo-cosmos d-inline-block d-sm-none" src="img/logos/logo-cosmos-icononly.svg" width="47" height="42" alt="COSMOS" />
            </a>
        </div>

        <button class="hamburger hamburger--collapse
                       float-right d-none" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>

        <nav class="site-header-nav
                    align-items-center justify-content-center" style="width: 45%;" role="navigation">
            <ul class="text-center Titillium-Rg
                       d-flex align-items-center justify-content-between mx-0 my-auto">
                <a href="./speakers" data-scroll-to="speakers"><li class="h6">Speakers</li></a>
                <a href="{{url-prefix}}#apply" data-scroll-to="apply"><li class="h6">Apply</li></a>
                <a href="{{url-prefix}}#venue" data-scroll-to="venue"><li class="h6">Venue</li></a>
                <a href="{{url-prefix}}#partners" data-scroll-to="partners"><li class="h6">Partners</li></a>
                <div id="eventbrite-widget-modal-trigger-58504110369" class="button h5">
                    Get Tickets
                </div>
            </ul>
            <div id="eventbrite-widget-modal-trigger-58504110369" class="button d-none">
                Get Tickets
            </div>
        </nav>
    </div>
</header>