<div class="section-newsletter
                    text-center
                    position-relative">
    <div class="wave d-none d-sm-block"></div>
    <div class="bg"></div>

    <div class="m-spaceship d-block d-md-none"></div>
    <div class="m-planet-pink d-block d-md-none"></div>

    <div class="container
                        py-11">
        <div class="section-newsletter-logo
                            mx-auto mb-5">
            <img class="w-100 h-100" src="/img/logos/logo-cosmos-vertical.svg" alt="COSMOS">
        </div>

        <form
            class="newsletter"
            name="newsletter"
            class="mx-auto col-12 cl-md-8">
            <input class="email d-none d-sm-block h5 Titillium-Lt" type="email" name="email" id="email"
                placeholder="Stay tuned with conference updates">
            <input class="email d-block d-sm-none h5 Titillium-Lt" type="email" name="email" id="email"
                placeholder="Stay tuned">
            <label class="success">Thank you for subscribing!</label>
            <button class="button
                            h5" type="submit" id="mc-embedded-subscribe">Subscribe</button>
        </form>

        <div class="spaceship d-none d-md-block"></div>
        <div class="planet-pink d-none d-md-block"></div>
    </div>
</div>