<div class="section-newsletter
                    text-center
                    position-relative">
    <div class="wave d-none d-sm-block"></div>
    <div class="bg"></div>

    <div class="m-spaceship d-block d-md-none"></div>
    <div class="m-planet-pink d-block d-md-none"></div>

    <div class="container
                        py-11">
        <div class="section-newsletter-logo
                            mx-auto mb-5">
            <img class="w-100 h-100" src="img/logo-cosmos-vertical.svg" alt="COSMOS">
        </div>

        <div id="mc_embed_signup">
            <form
                action="https://grakn.us8.list-manage.com/subscribe/post-json?u=b27e8984466b0dc642a917ba5&amp;id=3742a20dc0&&c=?"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                class="validate
                       mx-auto col-12 cl-md-8" target="_blank" novalidate>
                <input class="email d-none d-sm-block h5 Titillium-Lt" type="email" value="" name="EMAIL"  id="mce-EMAIL"
                    placeholder="Stay tuned with conference updates" required>
                <input class="email d-block d-sm-none h5 Titillium-Lt" type="email" value="" name="EMAIL" id="mce-EMAIL"
                    placeholder="Stay tuned" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_b27e8984466b0dc642a917ba5_3742a20dc0" tabindex="-1" value="">
                </div>
                <button class="button
                               h5" type="submit" id="mc-embedded-subscribe">Subscribe</button>

                <div id="mce-responses" class="form-messages clear">
                    <div class="response error
                                d-none
                                Titillium-Lt" id="mce-error-response"></div>
                    <div class="response success
                                d-none
                                Titillium-Lt" id="mce-success-response"></div>
                </div>
            </form>
        </div>

        <div class="spaceship d-none d-md-block"></div>
        <div class="planet-pink d-none d-md-block"></div>
    </div>
</div>