<!-- Noscript content for added SEO -->
<noscript><a href="https://www.eventbrite.com/e/grakn-cosmos-2019-tickets-58504110369" rel="noopener noreferrer"
        target="_blank"></noscript>

<noscript></a>Buy Tickets on Eventbrite</noscript>

<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
    var exampleCallback = function () {
        console.log('Order complete!');
    };

    window.EBWidgets.createWidget({
        widgetType: 'checkout',
        eventId: '58504110369',
        modal: true,
        modalTriggerElementId: 'eventbrite-widget-modal-trigger-58504110369',
        onOrderComplete: exampleCallback
    });
</script>

<script src="js/vendor/modernizr-3.7.1.min.js"></script>
<script src="js/vendor/jquery-3.3.1.min.js"></script>

<script src="js/common.js?v=4"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-72414051-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-72414051-3');
</script>