<!-- Noscript content for added SEO -->
<noscript><a href="https://www.eventbrite.com/e/grakn-cosmos-2019-tickets-58504110369" rel="noopener noreferrer"
        target="_blank"></noscript>

<noscript></a>Buy Tickets on Eventbrite</noscript>

<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
    var exampleCallback = function () {
        console.log('Order complete!');
    };

    window.EBWidgets.createWidget({
        widgetType: 'checkout',
        eventId: '58504110369',
        modal: true,
        modalTriggerElementId: 'eventbrite-widget-modal-trigger-58504110369',
        onOrderComplete: exampleCallback
    });
</script>

<script src="js/vendor/modernizr-3.7.1.min.js"></script>
<script src="js/vendor/jquery-3.3.1.min.js"></script>

<script src="js/plugins.js"></script>
<script src="js/vendor/retina.min.js"></script>

<script src="data/speakers.js"></script>
<script src="js/main.js"></script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>