<div id="session-modal" class="custom-modal session-profile session-profile--pre">
    <div class="stars"></div>

    <div id="session-modal-close" class="custom-modal-close"></div>
    <div class="custom-modal-content">

        <div class="custom-modal-body custom-modal-body--no-sidebar">
            <div class="planet-blue"></div>

            <p id="title" class="h2 Titillium-Rg"></p>
            <div id="day-date" class="d-flex mt-3">
                <p id="day" class="h5 Titillium-Lt"></p>
                <p id="date" class="h5 Titillium-Lt"></p>
            </div>
            <div id="time-loation" class="d-flex">
                <p id="time" class="h5 Titillium-Lt"></p>
                <p id="room" class="h5 Titillium-Lt"></p>
            </div>
            <div id="tags" class="d-flex align-items-center mt-3">
                <div id="difficulty-level" class="Titillium-Rg tag tag--white"></div>
            </div>
            <p id="description" class="h5 Titillium-ExLt mt-4"></p>
            <div id="speakers" class="mt-4 d-block d-md-flex mb-6"></div>
        </div>
    </div>
    {{> includes/modal-footer }}
</div>