<div id="session-modal" class="custom-modal">
    <div class="stars"></div>

    <div id="session-modal-close" class="custom-modal-close"></div>
    <div class="custom-modal-content">

        <div class="custom-modal-body custom-modal-body--no-sidebar">
            <div class="planet-blue"></div>

            <p id="title" class="h2 Titillium-Rg"></p>
            <div id="tags" class="d-flex align-items-center mt-3"></div>
            <p id="description" class="h6 Titillium-ExLt mt-4"></p>
            <div id="speakers" class="mt-4 d-flex"></div>
        </div>
    </div>
</div>