<div id="session-modal" class="custom-modal session-profile session-profile--post">
    <div class="stars"></div>

    <div id="session-modal-close" class="custom-modal-close"></div>
    <div class="custom-modal-content">

        <div class="custom-modal-body custom-modal-body--no-sidebar">
            <div class="planet-blue"></div>

            <p id="title" class="h2 Titillium-Rg"></p>

            <div class="session-info-and-video mt-4 w-100 flex-column flex-lg-row">
                <div class="session-info w-lg-auto w-100">
                    <div id="tags" class="d-flex flex-wrap align-items-center justify-content-start justify-content-sm-start">
                        <div id="difficulty-level" class="Titillium-Rg tag tag--white"></div>
                    </div>
                    <div id="time-loation" class="d-flex mt-4 w-100 justify-content-start justify-content-sm-start">
                        <p id="date" class="h5 Titillium-Lt mr-3 mr-sm-4"></p>
                        <p id="time" class="h5 Titillium-Lt mr-3 mr-sm-4"></p>
                        <p id="room" class="h5 Titillium-Lt"></p>
                    </div>
                    <div id="speakers" class="speakers-container d-none d-lg-flex flex-column flex-lgc-row mt-4"></div>
                </div>

                <div id="video" class="session-video w-lg-50 w-100 mt-4 mt-lg-0">
                </div>
            </div>
            <div id="speakers" class="speakers-container d-flex d-lg-none flex-column flex-sm-row mt-4"></div>
            <p id="description" class="h5 Titillium-ExLt mt-0 mt-lg-4"></p>

            <div class="d-flex flex-column flex-md-row">
                <div class="mt-3 mt-md-5 mr-5">
                    <a href="https://www.youtube.com/c/graknlabs?sub_confirmation=1" class="button h5" style="height: 40px; line-height: 40px">
                        Subscribe to our Youtube channel 
                    </a>
                </div>

                <div class="mt-3 mt-md-5">
                    <a href="https://discuss.grakn.ai/t/were-taking-our-summer-tour-online/1947" class="button h5" style="height: 40px; line-height: 40px">
                        Join our next webinar
                    </a>
                </div>
                
            </div>
        </div>
    </div>
    {{> includes/modal-footer }}
</div>

<style>
    .session-info-and-video {
        display: flex;
    }

    .session-info {
        max-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 20px;
    }

    .session-video {
        flex-grow: 1;
    }

    .session-video-placeholder {
        height: 100%;
        border: 1px solid #7C66D3;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 5px;
    }
    .session-video-placeholder p {
        color: #7C66D3;
    }

</style>