<div id="speaker-modal" class="speaker-modal">
    <div class="stars"></div>

    <div id="speaker-modal-close" class="speaker-modal-close"></div>
    <div class="speaker-modal-content">
        <div class="planet-purple"></div>

        <div class="speaker-modal-sidebar
                    f-left">
            <div class="planet-blue
                        d-none d-lg-block"></div>
            <figure>
                <img class="frame-img" src="img/speaker-frame-xl.svg" />
                <img id="profilePicture" class="speaker-img" src="" />
            </figure>

        </div>
        <div class="speaker-modal-body
                    f-right">
            <p id="fullname" class="h1 Titillium-Rg"></p>
            <p id="position" class="h5 Titillium-Lt pt-2"></p>
            <a id="company" href="" target="_blank" class="company h5 Titillium-Lt pt-2"></a>
            <div id="social-links" class="social-links mt-4"></div>
            <p id="bio" class="bio h6 Titillium-ExLt pt-4 pt-lg-5"></p>
            <p id="session-title" class="h4 Titillium-Rg pt-4 pt-lg-5">SESSION</p>
            <div id='sessions' class="sessionsWrapper">
                <p id="session-title" class="session-title h5 Titillium-Lt pt-3"></p>
                <p id="session-description" class="description h6 Titillium-ExLt pt-3"></p>
            </div>
        </div>
    </div>
</div>