<div id="speaker-modal" class="speaker-modal d-none">
    <div class="stars"></div>
    <div class="planet-purple"></div>

    <div id="speaker-modal-close" class="speaker-modal-close"></div>
    <div class="speaker-modal-content">
        <div class="speaker-modal-sidebar
                    f-left">
            <div class="planet-blue
                        d-none d-lg-block"></div>
            <figure>
                <img class="frame-img" src="img/speaker-frame-xl.svg" />
                <img class="speaker-img" src="img/speakers/speaker-1-lg.png" />
            </figure>

        </div>
        <div class="speaker-modal-body
                    f-right">
            <p id="fullname" class="h1 Geogrotesque-Rg">Soroush Saffari</p>
            <p id="positions" class="h5 Titillium-Lt
                      pt-2">Software Engineer</p>
            <p id="company" class="company
                      h5 Titillium-Lt
                      pt-2">Grakn Labs</p>
            <div class="social-links
                        mt-4">
                <a id="twitter-link" class="d-flex align-items-center" href="#">
                    <div class="logo-wrapper"><img src="img/social/twitter.svg" /></div>
                    <span id="twitter-username" class="h6 Geogrotesque-Rg">@SaffariSoroush</span>
                </a>
                <a id="github-link" class="d-flex align-items-center mt-1" href="#">
                    <div class="logo-wrapper"><img src="img/social/github.svg" /></div>
                    <span id="github-username" class="h6 Geogrotesque-Rg">@sorsaffari</span>
                </a>
            </div>
            <p id="bio" class="h6 Titillium-ExLt
                      pt-4 pt-lg-5">
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro
                quisquam est, qui dolorem ipsum quia dolor sit ametra incidunt.
            </p>
            <p class="h4 Geogrotesque-Rg
                      pt-4 pt-lg-5">
                SESSION
            </p>
            <p id="session-title" class="session
                      h5 Titillium-Lt
                      pt-3">
                Open source security: who’s responsible?
            </p>
            <p id="session-description" class="h6 Titillium-ExLt
                      pt-3">
                No software is immune from vulnerabilities. We’ve seen some of the world’s largest companies
                crippled by them. With always-evolving open source software and growing dependencies within it,
                staying on top of security can feel like an impossible task. That’s why it’s vital for any organization
                to have the right people and products for the job.

                No software is immune from vulnerabilities. We’ve seen some of the world’s largest companies
                crippled by them. With always-evolving open source software and growing dependencies within it,
                staying on top of security can feel like an impossible task. That’s why it’s vital for any organization
                to have the right people and products for the job.
            </p>
        </div>
    </div>
</div>